<% provide(:title, 'Dashboard') %>
<div class="row-fluid pricing-table ">
   <div class="span12 plan">
   </div>
</div>
<div style="padding: 25px; padding-bottom: 0px;"></div>
<div class="row-fluid pricing-table ">
   <div class="span6 plan">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Last Updated Perguruan Tinggi</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>Institut Teknologi Sepuluh Nopember <span class="label label-info">New</span></td>
            </tr>
            <tr>
               <td>Universitas Airlangga <span class="label label-important">Updated</span></td>
            </tr>
            <tr>
               <td>Politeknik Elektronika Negeri Surabaya <span class="label label-important">Updated</span></td>
            </tr>
            <tr>
               <td>Sekolah Tinggi Akuntansi Negara <span class="label label-info">New</span></td>
            </tr>
         </tbody>
      </table>
   </div>
   <div class="span6 plan">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Last Updated Perguruan Tinggi</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  Teknik Industri <span class="label label-info">New</span>
                  <br>Institut Teknologi Sepuluh Nopember
               </td>
            </tr>
            <tr>
               <td>Teknik Kimia <span class="label label-info">New</span>
                  <br>Institut Teknologi Bandung
               </td>
            </tr>
            <tr>
               <td>Kedokteran <span class="label label-important">updated</span>
                  <br>Universitas Gajah Mada
               </td>
            </tr>
            <tr>
               <td>Ilmu Sosial <span class="label label-info">updated</span>
                  <br>Universitas Indonesia
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
<div style="padding: 25px; padding-bottom: 0px;"></div>
<div class="row-fluid pricing-table ">
   <div class="span8 plan">
      <form action='' method="POST">
         <fieldset>
            <div id="legend">
               <legend class="">Kirim Pesan</legend>
            </div>
            <div class="alert alert-error">
               <button type="button" class="close" data-dismiss="alert">&times;</button>
               <div>Email atau password salah</div>
            </div>
            <div class="control-group">
               <!-- Username -->
               <label class="control-label" for="username">Penerima</label>
               <div class="controls">
                  <input type="text" id="username" name="username" placeholder="Nama Lengkap" class="input-xlarge">
                  <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                  <textarea rows="5"></textarea>
                  <p class="help-block">Username can contain any letters or numbers, without spaces</p>
               </div>
            </div>
            <div class="control-group">
               <!-- Button -->
               <div class="controls">
                  <button class="btn btn-success">Kirim</button>
               </div>
            </div>
         </fieldset>
      </form>
   </div>
   <div class="span4 plan">
      <table class="table table-hover">
         <thead>
            <tr>
               <th>Last User Login</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  Teknik Industri
               </td>
            </tr>
            <tr>
               <td>
                  Teknik Industri
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>