- provide(:title, "Dashboard")
.well
  .row-fluid
    .span6
      .relativeWrap
        .widget.widget-2.widget-body-white
          .widget-head
            %h4.glyphicons.heading.stats
              %i
              Overview
          .widget-body.list
            %ul
              %li
                %span.count 8765
                Perguruan Tinggi
              %li
                %span.count 1437
                Program Studi
      %hr.separator
      .relativeWrap
        .btn-group.btn-group-vertical.block
          %a.btn.btn-icon.btn-default.btn-block.glyphicons.group.count
            %i
            = succeed "Total" do
              %span 5,986
            users
          %a.btn.btn-icon.btn-default.btn-block.glyphicons.shopping_cart.count
            %i
            = succeed "Total" do
              %span 305
            Subscriber
          %a.btn.btn-icon.btn-default.btn-block.glyphicons.user_add.count
            %i
            = succeed "New" do
              %span 98
            users
    .span6
      %hr.separator/
      %a.btn.btn-default.glyphicons.btn-icon.building{:href => "#"}
        %i>
        List Perguruan Tinggi
      %a.btn.btn-default.glyphicons.btn-icon.building{:href => "#"}
        %i>
        List Program Studi
      %a.btn.btn-default.glyphicons.btn-icon.envelope{:href => "#"}
        %i>
        List Subscriber
      %hr.separator/
.well
  .row-fluid
    .span12
      .relativeWrap
        .widget.widget-body-white.margin-bottom-none
          .widget-head
            %h4.glyphicons.cardio.heading
              %i
              Website Traffic
            %a.glyphicons.cogwheel.pull-right{"data-toggle" => "dropdown", :href => "#"}
              %i
            %ul.dropdown-menu.pull-right
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else
          .widget-body
            #placeholder{:style => "height: 200px;"}
            #overview{:style => "height: 40px;"}
            .btn-group.separator.top
              %button#websiteTraffic24Hours.btn.btn-small.btn-inverse 24 Hours
              %button#websiteTraffic7Days.btn.btn-small.btn-inverse 7 Days
              %button#websiteTraffic14Days.btn.btn-small.btn-inverse 14 Days
              %button#websiteTrafficClear.btn.btn-small.btn-inverse{:disabled => "disabled"} Clear
          .widget-footer
            %a.glyphicons.print{:href => "#"}
              %i
            %a.glyphicons.envelope{:href => "#"}
              %i
            %a.glyphicons.camera{:href => "#"}
              %i
            %a.glyphicons.heart{:href => "#"}
              %i
            %a.glyphicons.snowflake{:href => "#"}
              %i
            %a.glyphicons.fire{:href => "#"}
              %i
            %a.glyphicons.magnet{:href => "#"}
              %i
            %a.glyphicons.search{:href => "#"}
              %i