.login-wrapper
  %h5 Login menggunakan:
  .row
    .small-6.columns
      %a{:href => "#"}
        %img.right{:src => "/assets/front/login/login-facebook.png"}/
    .small-6.columns
      %a{:href => "#"}
        %img.left{:src => "/assets/front/login/login-google-plus.png"}/