.login-wrapper
  %h5 Login menggunakan:
  .row
    .small-6.small-centered.columns
      = link_to image_tag("/assets/front/login/login-facebook.png", :class => "right", :alt => "FB Login"), 'auth/facebook'
      = link_to image_tag("/assets/front/login/login-google-plus.png", :class => "left", :alt => "Google Login"), 'auth/google_oauth2'