<div class="signin-form row-fluid">
    <div class="span5 offset1">
        <div class="box corner-all">
            <div class="box-header grd-teal color-white corner-top">
                <span>Sign in:</span>
            </div>
            <div class="box-body bg-white">
                <%= form_for :admin_session, :url => admin_sessions_path, :html => {:id => "sign-in"} do |f| %>
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <%= f.text_field :email, :class => "input-block-level", :autocomplete => "off", :data => {:validate => {:required => true, :messages => {:required => "Email harus diisi untuk login"}}} %>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Password</label>
                        <div class="controls">
                            <%= f.password_field :password, :class => "input-block-level", :data => {:validate => {:required => true, :messages => {:required => "Password harus diisi untuk login"}}}%>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="checkbox">
                            <input type="checkbox" data-form="uniform" name="remember_me" id="remember_me_yes" value="yes"> Remember me
                        </label>
                    </div>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-block btn-large btn-primary" value="Sign into account" />
                        <p class="recover-account">Recover your <a href="#modal-recover" class="link" data-toggle="modal">password</a></p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>