<%= image_tag("ver_header.jpg", :alt => "", :width => "521", :height => "63", :align => "middle", :style => "padding-left:60px") %>
<div style="width: 525px;height: 220px;" align="center">    
  <div style="padding-top:10px;" align="left">
    <div style="padding-left:60px; padding-bottom:10px">
      <label><span class="style1">Reset Password</span></label>
      <br>
      <p>Klik URL dibawah ini untuk mereset password</p>
      <p align="center">
         <%= edit_password_reset(@subscriber.password_reset_token) %>
      </p>
      <p>Jika anda merasa tidak mereset password, silakan abaikan email ini</p>
      <p>
        Terima Kasih,<br>
        Kampus.co.id

      </p>
    </div>
  </div>
</div>