.rg-image-wrapper{
	position:relative;	
	background: rgba(38,38,38,0.8);	
	min-height:20px;
	margin-bottom: 10px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;	
	width: 100%;	
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url("/assets/ajax-loader.gif") no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}