<% if @subscriber.errors.any? %>
<div id="error_explanation">
	<div class="alert alert-error">
		The Form contains <%= pluralize(@subscriber.errors.count, "error") %>
	</div>
	<ul>
		<% @subscriber.errors.full_messages.each do |error| %>
			<li>* <%= error %></li>
		<% end %>
	</ul>
</div>
<% end %>