<% provide(:title, 'Jurusan') %>

<%= form_tag(prodis_path, :method => "get") do %>
  <%= text_field_tag(:keyword) %>
  <%= submit_tag("Search") %>
<% end %>

<table>
  <tr>
    <th>Nama prodi</th>
  </tr>

<% @prodis.each do |prodi| %>
  <tr>
    <td><%= prodi.nama_prodi %></td>
  </tr>
<% end %>
</table>
