- provide(:title, "Data Bidang Program Studi")
= link_to "Tambah Bidang Prodi", new_prodi_bidang_path, :role => "button", :class => "btn btn-info btn-small small-margin-bottom"
.relativeWrap
  .widget.widget-gray.widget-gray-white
    .widget-head
      %h4.heading Data Bidang Program Studi
    .widget-body
      %table.dynamicTable.table.table-striped.table-bordered.table-primary.table-condensed{:border => "0", :cellpadding => "0", :cellspacing => "0"}
        %thead
          %tr
            %th{:width => "350"} Nama Bidang
            %th{:width => "50"} &nbsp;
        %tbody
          - @prodi_bidangs.each do |bidang|
            %tr.gradeX
              %td= bidang.nama_bidang
              %td.center.actions
                = link_to edit_prodi_bidang_path(bidang), :class => "btn-action glyphicons pencil btn-success" do
                  %i
                = link_to prodi_bidang_path(bidang), method: :delete, :class => "btn-action glyphicons remove_2 btn-danger delete" do
                  %i