/***Base***/
body,html{	
	min-width: 320px !important;
	overflow-x: hidden;
}
button, .button{
	box-shadow: none;
}
.alert-box{
	@include src-regular;
}
.reveal-modal{
	position: fixed;	
	top: 8% !important;
	max-height: 85% !important;
	height: auto;
	overflow: auto;
	h1,h2,h3,h4,h5,h6{
		@include src-bold;
	}
	p,a{
		@include src-regular;
	}	
}