/***Fonts List***/

@font-face {
    font-family: 'archivo_narrowbold';
    src: url('/assets/archivonarrowbold/archivonarrow-bold.eot');
    src: url('/assets/archivonarrowbold/archivonarrow-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/archivonarrowbold/archivonarrow-bold.woff') format('woff'),
         url('/assets/archivonarrowbold/archivonarrow-bold.ttf') format('truetype'),
         url('/assets/archivonarrowbold/archivonarrow-bold.svg#archivo_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'archivo_narrowregular';
    src: url('/assets/archivonarrowregular/archivonarrow-regular.eot');
    src: url('/assets/archivonarrowregular/archivonarrow-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/archivonarrowregular/archivonarrow-regular.woff') format('woff'),
         url('/assets/archivonarrowregular/archivonarrow-regular.ttf') format('truetype'),
         url('/assets/archivonarrowregular/archivonarrow-regular.svg#archivo_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTPro77BoldCondensed';
    src: url('/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.eot');
    src: url('/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.eot') format('embedded-opentype'),
         url('/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.woff') format('woff'),
         url('/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.ttf') format('truetype'),
         url('/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.svg#HelveticaNeueLTPro77BoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('/assets/sourcesansprobold/sourcesanspro-bold.eot');
    src: url('/assets/sourcesansprobold/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/sourcesansprobold/sourcesanspro-bold.woff') format('woff'),
         url('/assets/sourcesansprobold/sourcesanspro-bold.ttf') format('truetype'),
         url('/assets/sourcesansprobold/sourcesanspro-bold.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_probold';
    src: url('/assets/sourcesansprobold/sourcesanspro-bold.eot');
    src: url('/assets/sourcesansprobold/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/sourcesansprobold/sourcesanspro-bold.woff') format('woff'),
         url('/assets/sourcesansprobold/sourcesanspro-bold.ttf') format('truetype'),
         url('/assets/sourcesansprobold/sourcesanspro-bold.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proitalic';
    src: url('/assets/sourcesansproitalic/sourcesanspro-italic.eot');
    src: url('/assets/sourcesansproitalic/sourcesanspro-italic.eot?#iefix') format('embedded-opentype'),
         url('/assets/sourcesansproitalic/sourcesanspro-italic.woff') format('woff'),
         url('/assets/sourcesansproitalic/sourcesanspro-italic.ttf') format('truetype'),
         url('/assets/sourcesansproitalic/sourcesanspro-italic.svg#source_sans_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_proregular';
    src: url('/assets/sourcesansproregular/sourcesanspro-regular.eot');
    src: url('/assets/sourcesansproregular/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/sourcesansproregular/sourcesanspro-regular.woff') format('woff'),
         url('/assets/sourcesansproregular/sourcesanspro-regular.ttf') format('truetype'),
         url('/assets/sourcesansproregular/sourcesanspro-regular.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('/assets/sourcesansprosemibold/sourcesanspro-semibold.eot');
    src: url('/assets/sourcesansprosemibold/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
         url('/assets/sourcesansprosemibold/sourcesanspro-semibold.woff') format('woff'),
         url('/assets/sourcesansprosemibold/sourcesanspro-semibold.ttf') format('truetype'),
         url('/assets/sourcesansprosemibold/sourcesanspro-semibold.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}