/***Variables***/

/***#website-kampus01#***/
/**Header**/
$divider: #01467F;
$nav_link: #ffffff;

/**Content**/
$website_kampus01_body: #F5F5F5;
$website_kampus01_secondary: #E8E8E9;
$searchbox_bg: #ffffff;
$searchbox_bdr: #7d7f7f;
$left_compare_label: #26A0D7;
$right_compare_label: #808080;
$group_btn_bdr: #429ed0;
$group_btn: #ffffff;
$active_group_btn: #535254;
$desc_panel_text: #58595B;
$panel_background: #1B75B2;
$desc_panel_title: #404041;
$desc_panel_title_hover: #ffffff;
$compare_box_text: #ffffff;
$compare_box_placeholder: #C7C9CA;
$compare_box_border_right: #0093CD;
$compare_box_border_left: #0568A4;
$compare_button: #00A4E5;

/**Footer**/
$website_kampus01_footer: #e8e8e9;
$copyright_text: #58595B;
$newsletter_button: #808080;


/***#website-kampus02#***/
/**Content**/
$website_kampus02_body: #ffffff;
$website_kampus02_secondary: #cdcdcd;
$category_panel_border_right: #0093CD;
$category_panel_border_left: #0568A4;
$entry_header: #6D6E70;
$entry_header_hover: #26A0D7;
$entry_text: #6D6E70;
$read_more_border: #429ed0;
$read_more_text: #ffffff;
$entry_link: #6D6E70;
$post_header: #26A0D7;
$post_author: #000000;
$article_post: #F5F5F5;
$article_border: #dfdfdf;
$arrow_button: #898B8E;

/**Footer**/
$website_kampus02_footer: #cdcdcd;


/***#website-kampus03#***/
/**Header**/
$header_button_border: #319bd7;
$select_box_text: #9D9FA2;
$filter_label: #ffffff;

/**Content**/
$website_kampus03_body: #ffffff;
$website_kampus03_secondary: #cdcdcd;
$note: #6D6E70;
$highlight_separator: #D5D5D5;
$active_profile_panel: #dadada;
$active_profile_panel_text: #26A0D7;
$profile_panel: #0983c9;
$profile_panel_border: #D5D5D5;
$profile_panel_text: #ffffff;
$post_sub_header: #404040;
$information_panel: #F5F5F5;
$information_title: #26A0D7;
$information_label: #6D6E70;
$panel_divider: #D5D5D5;
$description_title: #6D6E70;
$description_text: #6D6E70;
$panel_jurusan_text: #404041;
$panel_jurusan_text_hover: #00A4E5;

/**Footer**/
$website_kampus03_footer: #cdcdcd;


/***#website-kampus04#***/
/**Header**/
$header_shadow: #8e8e8e;

/**Content**/
$website_kampus04_body: #ffffff;
$website_kampus04_secondary: #cdcdcd;
$result_number: #26A0D7;
$article_background: #F5F5F5;
$article_separator: #dedede;
$entry_place: #262626;
$arrow: #58595B;

/**Footer**/
$website_kampus04_footer: #cdcdcd;


/***#website-kampus06#***/
/**Header**/
$website_kampus06_header: #00A4E5;

/***#website-kampus07#***/
/**Content**/
$website_kampus07_body: #f9f9f9;
$table_border: #6D6E70;
$table_text: #333333;
$table_bg: #ffffff;
$grey: #F9F9F9;
/**Footer**/
$website_kampus07_footer: #cdcdcd;


/***#Sidebar#***/
$widget_title: #ffffff;
$widget_text: #6D6E70;
$widget_list_link_text: #26A0D7;
$widget_list_paragraph: #58595B;
