@import "variables";
@import "fonts";
@import "mixin";
@import "base";

/***Header***/
header{	
	nav{
		background: -webkit-linear-gradient(left,#02569e,#013066);
		background: -moz-linear-gradient(left,#02569e,#013066);
		background: -o-linear-gradient(left,#02569e,#013066);
		background: -ms-linear-gradient(left,#02569e,#013066);
		background: linear-gradient(left,#02569e,#013066);
		width: 100%;
		min-height: 34px;
		height: auto;
		overflow: hidden;
		display: inline-block;
		-webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
		box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);		
	}
	ul{
		list-style-type:none;
		overflow:hidden;
		float: right;
		margin-bottom: 0;
		padding-top: 8px;
		@media screen and (max-width: 640px) {			
			padding-bottom: 10px;			
		}
	}
	li{
		float:left;
		border-right: 1px solid $divider;
		@media screen and (max-width: 640px) {			
			margin-top: 5px;			
		}
		&:last-child{
			border-right: none;	
		}
	}	
	a{
		display:block;
		@include src-bold;		
		font-size: 0.750em;		
		padding-left: 15px;
		padding-right: 15px;
		color: $nav_link;		
		text-align: center;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		-ms-transition: all 0.4s;
		transition: all 0.4s;
		&:hover{
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-o-transition: all 0.4s;
			-ms-transition: all 0.4s;
			transition: all 0.4s;
		}
	}
}

/***Content***/
div[role="main"]{
	background: $website_kampus01_body;
	padding-top: 40px;
	.custom-input{		
		height: 2em;
		font-size: 2em;
		@media screen and( max-width: 480px) {
			height: 2.2em;
			font-size: 1.1em;
		}
		input[type="text"],input[type="submit"]{
			margin-bottom: 0;
			box-shadow: none;			
		}
		input[type="text"]{
			background: $searchbox_bg;
			border: 1px solid $searchbox_bdr;
			border-right: none;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			@include src-italic;
		}
		input[type="submit"]{
			background: $searchbox_bg url("/assets/front/header/search-icon.png") no-repeat 65% center;
			border: 1px solid $searchbox_bdr;
			border-left: none;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
		}		
	}	
}
.logo-fix{
	width: 38%;
	@media screen and (max-width: 480px) {
		width: 65%;
	}
}
.double-fix{
	max-width: 120%;
}
fieldset{
	border: none;
	margin-top: 0.3em;
	margin-bottom: 40px;
}
.secondary{
	background: $website_kampus01_secondary;
}
.compare-panel{
	padding-top: 30px;
}
.compare-header{
	@media screen and (max-width: 768px) {
		display: none;
	}
}
.hashtag{
	@include hlv-bold-cn;	
	font-size: 1.375em;
	vertical-align: top;
}
.left-compare-label{
	width: 48px;
	float: left;
	color: $left_compare_label;
	margin-bottom: 0;
}
.right-compare-label{
	color: $left_compare_label;
	margin-bottom: 0;
}
.compare-label-1{
	@include hlv-bold-cn;
	font-size: 3.250em;	
}
.compare-label-2{
	@include hlv-bold-cn;
	font-size: 1.375em;
	padding-top: 12px;
	display: block;
	letter-spacing: 1px;
}
.compare-label-3{
	@include arc-regular;
	font-size: 1em;
	color: $right_compare_label;
	display: block;
	line-height: 16px;
}
.compare-box{
	padding-top: 10px;
	background: -webkit-linear-gradient(left,#0b89d0,#0063a1);
	background: -moz-linear-gradient(left,#0b89d0,#0063a1);
	background: -o-linear-gradient(left,#0b89d0,#0063a1);
	background: -ms-linear-gradient(left,#0b89d0,#0063a1);
	background: linear-gradient(left,#0b89d0,#0063a1);
	position: relative;
	z-index: 5;
	ul{
		list-style-position: inside;
		color: $compare_box_text;				
		list-style-type: none;
	}
	li{		
		font-family: 'Alef', sans-serif;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		font-size: 0.875em;		
	}
	label{
		color: $compare_box_text;
		cursor: default;
		@include src-bold;
		font-size: 0.875em;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
		margin-bottom: 10px;
	}
	.space-top{
		margin-top: 15px;
	}
	input[type="text"]{
		border-radius: 4px;
		@include src-regular;
		font-size: 0.875em;
		color: darken($compare_box_placeholder,45%);
		height: 2.625em;
	}
}
.compare-box-left-shadow{
	position: absolute;	
	left: -15px;
	z-index: -1;
	@media screen and (max-width: 768px) {
		display: none;
	}
}
.compare-box-bottom-shadow{
	position: absolute;	
	bottom: -21px;
	z-index: -1;
	left: 5%;
	img{
		width: 100%;		
	}
	@media screen and (max-width: 915px) {
		bottom: -17px;
	}
	@media screen and (max-width: 768px) {
		display: none;
	}
}
.compare-box-right-shadow{
	position: absolute;	
	right: -11px;
	z-index: -1;
	@media screen and (max-width: 1030px) {
		display: none;
	}
}
.hidden-compare-label{
	display: none;
	@media screen and (max-width: 768px) {
		display: block;
		.hashtag{
			@include hlv-bold-cn;	
			font-size: 1.375em;
			vertical-align: top;
			color: #ffffff;
		}
		.compare-label-1{
			@include hlv-bold-cn;
			font-size: 3.250em;
			color: #ffffff;
		}
		.compare-label-2{
			@include hlv-bold-cn;
			font-size: 1.375em;
			padding-top: 12px;
			display: block;
			letter-spacing: 1px;
			color: #ffffff;
		}
		.compare-label-3{
			@include arc-regular;
			font-size: 1em;
			display: block;
			line-height: 16px;
			color: rgba(255,255,255,0.6);			
		}
	}
	.center-fix{
		width: 100%;		
	}	
}
.top-ten{
	padding-top: 30px;
	padding-left: 50px;
	@media screen and (max-width: 768px) {		
		padding-left: 0.9375em;
		padding-top: 20px;
	}
	ul{
		border-right: 1px solid $compare_box_border_right;
		-webkit-box-shadow: 1px 0 0 $compare_box_border_left;
		box-shadow: 1px 0 0 $compare_box_border_left;
		a{
			color: white;
			&:hover{
				color: darken(white,15%);	
			}
		}		
		@media screen and (max-width: 768px) {
			border-right: none;
			box-shadow: none;
			border-bottom: 1px solid $compare_box_border_right;
			box-shadow: 0 1px 0 $compare_box_border_left;
			padding-bottom: 30px;
		}
	}
}
.compare-pair{
	padding-top: 6px;
	form,fieldset{
		margin-bottom: 0;
	}	
	@media screen and (max-width: 768px){
		fieldset{
			padding-top: 0;
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.pair-left{
	padding-top: 20px;
	border-right: 1px solid $compare_box_border_right;
	box-shadow: 1px 0 0 $compare_box_border_left;
	@media screen and (max-width: 768px) {
		border-right: none;
		box-shadow: none;
	}
}
.pair-right{
	padding-top: 20px;
}
.compare-submit{
	padding-top: 15px;
}
.compare-button{
	border-radius: 5px;
	border: none;
	width: 100%;
	font-size: 0.750em;
	background: $compare-button;
	&:hover{
		background: darken($compare-button,5%);	
	}
}
.autocomplete-suggestion{
	overflow: hidden;
	@include src-regular;
	white-space: normal;
	padding: 2px 5px;
	cursor: pointer;
	font-size: 0.938em;
}
.autocomplete-selected{
	background: #c0c0c0;
}
.description-panel{
	margin-top: 35px;
	border-top: 1px solid lighten($desc_panel_text,50%);
	border-bottom: 1px solid lighten($desc_panel_text,50%);
	p,h6,ul{
		text-align: center;
	}
	section{
		min-height: 200px;
	}
	.active-section{
		background: $panel_background;
		-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
		-ms-transition: all 0.5s;
		transition: all 0.5s;
		.desc-title,.desc-text,.desc-link{
			color: $desc_panel_title_hover;			
		}
		.desc-link:hover{
			color: rgba(255,255,255,0.5);
		}
		.panel-image-1{
			background: url("/assets/front/common/panel-icon-1-hover.png") no-repeat center;			
		}
		.panel-image-2{
			background: url("/assets/front/common/panel-icon-2-hover.png") no-repeat center;			
		}
		.panel-image-3{
			background: url("/assets/front/common/panel-icon-3-hover.png") no-repeat center;			
		}
	}
	.panel-image-1{
		background: url("/assets/front/common/panel-icon-1.png") no-repeat center;
		width: 48px;
		height: 48px;
		display: block;
		margin: 0 auto;
	}
	.panel-image-2{
		background: url("/assets/front/common/panel-icon-2.png") no-repeat center;
		width: 44px;
		height: 51px;
		display: block;
		margin: 0 auto;
	}
	.panel-image-3{
		background: url("/assets/front/common/panel-icon-3.png") no-repeat center;
		width: 59px;
		height: 40px;
		display: block;
		margin: 0 auto;
	}
	p{
		padding-left: 17%;
		padding-right: 17%;
		margin-bottom: 0;
		line-height: 1.2;
	}
	.desc-title{
		@include src-bold;
		font-size: 0.813em;
		color: $desc_panel_title;
		padding-top: 25px;
		margin-top: 0;
	}
	.panel-image-fix-1{
		padding-top: 27px;
	}
	.panel-image-fix-2{
		padding-top: 14px;
	}
	.panel-image-fix-3{
		padding-top: 19px;
	}
	.desc-text,.desc-link{
		@include src-regular;
		font-size: 0.750em;
		color: $desc_panel_text;
	}
	ul{
		list-style-type: none;
		li{
			line-height: 0.875em;
		}
	}	
}

/***Footer***/
footer{
	background: $website_kampus01_footer;
}
@import "footer";