/***Variables***/
/***#website-kampusalt01#***/
/**Header**/
/**Content**/
/**Footer**/
/***#website-kampus01#***/
/**Content**/
/**Footer**/
/***#website-kampus02#***/
/**Content**/
/**Footer**/
/***#website-kampus03#***/
/**Header**/
/**Content**/
/**Footer**/
/***#website-kampus04#***/
/**Header**/
/**Content**/
/**Footer**/
/***Fonts List***/
@font-face { font-family: 'archivo_narrowbold'; src: url("/assets/archivenarrowbold/archivonarrow-bold-webfont.eot"); src: url("/assets/archivenarrowbold/archivonarrow-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/archivenarrowbold/archivonarrow-bold-webfont.woff") format("woff"), url("/assets/archivenarrowbold/archivonarrow-bold-webfont.ttf") format("truetype"), url("/assets/archivenarrowbold/archivonarrow-bold-webfont.svg#archivo_narrowbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'archivo_narrowregular'; src: url("/assets/archivenarrowregular/archivonarrow-regular-webfont.eot"); src: url("/assets/archivenarrowregular/archivonarrow-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/archivenarrowregular/archivonarrow-regular-webfont.woff") format("woff"), url("/assets/archivenarrowregular/archivonarrow-regular-webfont.ttf") format("truetype"), url("/assets/archivenarrowregular/archivonarrow-regular-webfont.svg#archivo_narrowregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeueLTPro77BoldCondensed'; src: url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.eot"); src: url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.eot") format("embedded-opentype"), url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.woff") format("woff"), url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.ttf") format("truetype"), url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.svg#HelveticaNeueLTPro77BoldCondensed") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_probold'; src: url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.eot"); src: url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.woff") format("woff"), url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.ttf") format("truetype"), url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_proitalic'; src: url("/assets/sourcesansproitalic/sourcesanspro-italic-webfont.eot"); src: url("/assets/sourcesansproitalic/sourcesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansproitalic/sourcesanspro-italic-webfont.woff") format("woff"), url("/assets/sourcesansproitalic/sourcesanspro-italic-webfont.ttf") format("truetype"), url("/assets/sourcesansproitalic/sourcesanspro-italic-webfont.svg#source_sans_proitalic") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_proregular'; src: url("/assets/sourcesansproregular/sourcesanspro-regular-webfont.eot"); src: url("/assets/sourcesansproregular/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansproregular/sourcesanspro-regular-webfont.woff") format("woff"), url("/assets/sourcesansproregular/sourcesanspro-regular-webfont.ttf") format("truetype"), url("/assets/sourcesansproregular/sourcesanspro-regular-webfont.svg#source_sans_proregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_prosemibold'; src: url("/assets/sourcesansprosemibold/sourcesanspro-semibold-webfont.eot"); src: url("/assets/sourcesansprosemibold/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansprosemibold/sourcesanspro-semibold-webfont.woff") format("woff"), url("/assets/sourcesansprosemibold/sourcesanspro-semibold-webfont.ttf") format("truetype"), url("/assets/sourcesansprosemibold/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold") format("svg"); font-weight: normal; font-style: normal; }

/***Mixin***/
/**Fonts Mixin**/
/***Base***/
body { min-width: 320px; overflow-x: hidden; }

button, .button { box-shadow: none; }

.alert-box { font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; }

/***Header***/
header nav { background: -webkit-linear-gradient(left, #02569e, #013066); background: -moz-linear-gradient(left, #02569e, #013066); background: -o-linear-gradient(left, #02569e, #013066); background: -ms-linear-gradient(left, #02569e, #013066); background: linear-gradient(left, #02569e, #013066); width: 100%; min-height: 67px; height: auto; }
@media screen and (max-width: 420px) { header nav { height: 105px; } }
header .logo-nav { list-style-type: none; padding-top: 17px; float: left; margin-bottom: 0; width: 230px; }
@media screen and (max-width: 420px) { header .logo-nav { padding-left: 0; margin: 0 auto; float: none; width: 182px; } }
header .nav-bar { list-style-type: none; overflow: hidden; width: 425px; float: right; margin-bottom: 0; padding-top: 23px; }
@media screen and (max-width: 480px) { header .nav-bar { padding-left: 0; margin: 0 auto; float: none; width: 182px; padding-top: 15px; } }
header li { float: left; border-right: 1px solid #01467f; }
header li:last-child { border-right: none; }
header a { display: block; font-family: "source_sans_probold", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.750em; padding-left: 15px; padding-right: 15px; color: white; text-align: center; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; -ms-transition: all 0.4s; transition: all 0.4s; }
header a:hover { -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; -ms-transition: all 0.4s; transition: all 0.4s; }

.header-extension { padding-top: 10px; background: -webkit-linear-gradient(left, #02569e, #013066); background: -moz-linear-gradient(left, #02569e, #013066); background: -o-linear-gradient(left, #02569e, #013066); background: -ms-linear-gradient(left, #02569e, #013066); background: linear-gradient(left, #02569e, #013066); width: 100%; height: auto; border-bottom: 4.5px solid #8e8e8e; }
.header-extension input[type="text"], .header-extension .custom.dropdown, .header-extension .button.postfix { font-size: 1em !important; }
@media screen and (max-width: 640px) { .header-extension input[type="text"], .header-extension .custom.dropdown, .header-extension .button.postfix { font-size: 0.75em !important; } }
.header-extension .custom-input { background: white url("/assets/ranking/search-icon.png") no-repeat 5% center; padding-left: 40px !important; padding-top: 6px; padding-bottom: 6px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; }
.header-extension .custom-input:hover, .header-extension .custom-input:focus { background-image: url("/assets/ranking/search-icon.png"); background-repeat: no-repeat; background-position: 5% center; }
.header-extension a.current { font-family: "source_sans_proitalic", sans-serif, tahoma; font-weight: normal; font-style: normal; color: #9d9fa2 !important; }
.header-extension .postfix { border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-top: 2px solid #319bd7; border-bottom: none; font-family: "source_sans_proitalic", sans-serif, tahoma; font-weight: normal; font-style: normal; background: -webkit-linear-gradient(top, #0b89d0, #0166a5); background: -moz-linear-gradient(top, #0b89d0, #0166a5); background: -o-linear-gradient(top, #0b89d0, #0166a5); background: -ms-linear-gradient(top, #0b89d0, #0166a5); background: linear-gradient(top, #0b89d0, #0166a5); }
.header-extension .postfix:hover { background: -webkit-linear-gradient(bottom, #0b89d0, #0166a5); background: -moz-linear-gradient(bottom, #0b89d0, #0166a5); background: -o-linear-gradient(bottom, #0b89d0, #0166a5); background: -ms-linear-gradient(bottom, #0b89d0, #0166a5); background: linear-gradient(bottom, #0b89d0, #0166a5); }
@media screen and (max-width: 480px) { .header-extension .custom.dropdown.medium.filter.right { margin: 20px auto 0 auto; float: none; } }
.header-extension .custom.dropdown.medium.filter.right.open ul { min-width: 10px; }
.header-extension .filter-label { color: white; font-family: "archivo_narrowbold", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.875em; padding-top: 8px; }
@media screen and (max-width: 480px) { .header-extension .filter-label { font-size: 0.625em; } }
.header-extension .custom.checkbox { border-radius: 3px !important; }
.header-extension .medium.filter { font-size: 0.750em !important; border-radius: 3px !important; }

/***Content***/
div[role="main"] { padding-top: 35px; }

.highlight { padding-left: 0.9375em; padding-right: 0.9375em; }
.highlight > div { border-bottom: 1px solid #4affff; padding-bottom: 30px; padding-left: 0; padding-right: 0; }

.left-highlight { float: left; width: 30%; }

.right-highlight { float: right; width: 65%; }

.post-header { font-size: 1.563em; color: #26a0d7; margin-bottom: 0; margin-top: 0; font-family: "source_sans_probold", sans-serif, tahoma; font-weight: normal; font-style: normal; }

.post-header-prodi, .post-sub-header { font-size: 1.125em; color: #26a0d7; margin-bottom: 0; margin-top: 0; font-family: "source_sans_probold", sans-serif, tahoma; font-weight: normal; font-style: normal; }

.post-sub-header-prodi { font-family: "source_sans_prosemibold", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.813em; padding-bottom: 8px; color: #5a5a5a; }

.post-author { font-size: 0.688em; font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; color: black; margin-bottom: 0; }

.rating { background: url("/assets/ranking/rating.png") no-repeat center; width: 109px; height: auto; padding-bottom: 27px; }

.note { padding-top: 30px; font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.688em; color: #6d6e70; }

.gallery { padding-top: 30px; }

.profile { margin-top: 30px !important; margin-bottom: 40px !important; background: whitesmoke; border: 1px solid #4affff; }

.profile-panel > .columns { padding-left: 0; }
@media screen and (max-width: 768px) { .profile-panel > .columns { padding-left: 0.875em; } }

.profile-panel-shadow { background: url("/assets/profile/profile-panel-shadow.png") no-repeat center; width: 450px; height: 14px; }
@media screen and (max-width: 640px) { .profile-panel-shadow { display: none; } }

.button-group > * { margin-left: 0; }
.button-group button, .button-group .button { background: #0983c9; font-family: "source_sans_prosemibold", sans-serif, tahoma; font-weight: normal; font-style: normal; }
.button-group button.small, .button-group .button.small { padding: 15px 25px; }
.button-group button:hover, .button-group button:focus, .button-group .button:hover, .button-group .button:focus { background: #dadada; border: none; color: #26a0d7; }
.button-group .profile-fb, .button-group .profile-twitter, .button-group .profile-youtube { padding: 15px 10px !important; }
.button-group .button-fixer { padding: 15px 3px !important; }
.button-group .button-fixer:hover { background: #0983c9; }
.button-group .profile-fb { background: #0983c9 url("/assets/profile/profile-panel-fb.png") no-repeat center; }
.button-group .profile-fb:hover { background: #dadada url("/assets/profile/profile-panel-fb-hover.png") no-repeat center; }
.button-group .profile-twitter { background: #0983c9 url("/assets/profile/profile-panel-twitter.png") no-repeat center; }
.button-group .profile-twitter:hover { background: #dadada url("/assets/profile/profile-panel-twitter-hover.png") no-repeat center; }
.button-group .profile-youtube { background: #0983c9 url("/assets/profile/profile-panel-youtube.png") no-repeat center; }
.button-group .profile-youtube:hover { background: #dadada url("/assets/profile/profile-panel-youtube-hover.png") no-repeat center; }
.button-group a { border: none; margin-bottom: 0; }

.information { background: whitesmoke; padding-top: 25px; }
.information > .columns { border-bottom: 1px solid #d5d5d5; }
.information fieldset { border: none; margin-top: 0; padding-top: 0; }
.information label { font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.688em; color: #6d6e70; margin-bottom: 0; padding-bottom: 0; cursor: auto; }

.information-title { font-family: "source_sans_probold", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 1.125em; color: #26a0d7; margin-bottom: 5px; }

.description { padding-top: 25px; padding-bottom: 35px; }

.description-title { font-family: "source_sans_probold", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 1.125em; color: #6d6e70; }

.description-text { font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.688em; color: #6d6e70; }

.secondary { padding-top: 15px; background: -webkit- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -moz- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -o- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -ms- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background-size: 100% 10px; background-repeat: no-repeat; }

.widget-title { color: #6d6e70; font-size: 1.125em; font-family: "source_sans_probold", sans-serif, tahoma; font-weight: normal; font-style: normal; margin-bottom: 5px; margin-top: 18px; }

.widget-title:first-child { margin-top: 7px; }

.widget-text { color: #6d6e70; font-size: 0.688em; font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; }

.widget-image { margin-bottom: 17px; }

.description-panel { margin-top: 35px; border-top: 1px solid #b1b2b4; border-bottom: 1px solid #b1b2b4; }
.description-panel p, .description-panel h6, .description-panel ul { text-align: center; }
.description-panel section { min-height: 200px; }
.description-panel .active-section { background: #1b75b2; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; transition: all 0.5s; }
.description-panel .active-section .desc-title, .description-panel .active-section .desc-text, .description-panel .active-section .desc-link { color: white; }
.description-panel .active-section .desc-link:hover { color: rgba(255, 255, 255, 0.5); }
.description-panel .active-section .panel-image-1 { background: url("/assets/ranking/panel-icon-1-hover.png") no-repeat center; }
.description-panel .active-section .panel-image-2 { background: url("/assets/ranking/panel-icon-2-hover.png") no-repeat center; }
.description-panel .active-section .panel-image-3 { background: url("/assets/ranking/panel-icon-3-hover.png") no-repeat center; }
.description-panel .panel-image-1 { background: url("/assets/ranking/panel-icon-1.png") no-repeat center; width: 48px; height: 48px; display: block; margin: 0 auto; }
.description-panel .panel-image-2 { background: url("/assets/ranking/panel-icon-2.png") no-repeat center; width: 44px; height: 51px; display: block; margin: 0 auto; }
.description-panel .panel-image-3 { background: url("/assets/ranking/panel-icon-3.png") no-repeat center; width: 59px; height: 40px; display: block; margin: 0 auto; }
.description-panel p { padding-left: 17%; padding-right: 17%; margin-bottom: 0; line-height: 1.2; }
.description-panel .desc-title { font-family: "source_sans_probold", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.813em; color: #404041; padding-top: 25px; margin-top: 0; }
.description-panel .panel-image-fix-1 { padding-top: 27px; }
.description-panel .panel-image-fix-2 { padding-top: 14px; }
.description-panel .panel-image-fix-3 { padding-top: 19px; }
.description-panel .desc-text, .description-panel .desc-link { font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.750em; color: #58595b; }
.description-panel ul { list-style-type: none; }
.description-panel ul li { line-height: 0.875em; }
.description-panel .desc-link:hover { color: #323334; }

/***Footer***/
footer { background: #cdcdcd; }

.left-footer { padding-top: 50px; }
@media screen and (max-width: 768px) { .left-footer { padding-top: 5px; } }

.right-footer { padding-top: 25px; }

.socmed-wrapper { padding-bottom: 32px; }
@media screen and (max-width: 768px) { .socmed-wrapper { width: 250px; margin: 0 auto !important; text-align: center; } }

.socmed-1, .socmed-2, .socmed-3 { height: 25px; float: left; }

.socmed-3 { width: 85px; }

.fb-share { background: url("/assets/ranking/fb-share-icon.png") no-repeat center 8px; padding: 5px 30px; }

.copyright, .newsletter-text { font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.750em; color: #58595b; }

@media screen and (max-width: 768px) { .copyright { text-align: center; } }

.newsletter-text { margin-top: 10px; }

.newsletter-label { font-family: "source_sans_probold", sans-serif, tahoma; font-weight: normal; font-style: normal; font-size: 0.750em; margin-bottom: 10px; }

.newsletter-form input[type="text"] { height: 22px; padding: 0 5px; margin: 0; border-radius: 5px; }
.newsletter-form .fix-textbox { width: 77%; float: right; }
@media screen and (max-width: 768px) { .newsletter-form .fix-textbox { width: 100%; } }
.newsletter-form .prefix, .newsletter-form .postfix { font-family: "source_sans_proregular", sans-serif, tahoma; font-weight: normal; font-style: normal; height: 22px; padding: 0; margin: 0; line-height: 22px; border-radius: 5px; border: none; font-style: italic; font-size: 0.750em; background: gray; }
.newsletter-form .prefix:hover, .newsletter-form .postfix:hover { background: #5a5a5a; }
.newsletter-form .collapse .columns:first-child { right: -5px; }
@media screen and (max-width: 768px) { .newsletter-form .newsletter-search { float: none !important; margin: 0 auto; } }
