/***Variables***/
/***#website-kampus01#***/
/**Header**/
/**Content**/
/**Footer**/
/***#website-kampus01-comparation#***/
/**Content**/
/***#website-kampus02#***/
/**Content**/
/**Footer**/
/***#website-kampus03#***/
/**Header**/
/**Content**/
/**Footer**/
/***#website-kampus04#***/
/**Header**/
/**Content**/
/**Footer**/
/***Fonts List***/
@font-face { font-family: 'archivo_narrowbold'; src: url("/assets/archivonarrowbold/archivonarrow-bold.eot"); src: url("/assets/archivonarrowbold/archivonarrow-bold.eot?#iefix") format("embedded-opentype"), url("/assets/archivonarrowbold/archivonarrow-bold.woff") format("woff"), url("/assets/archivonarrowbold/archivonarrow-bold.ttf") format("truetype"), url("/assets/archivonarrowbold/archivonarrow-bold.svg#archivo_narrowbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'archivo_narrowregular'; src: url("/assets/archivonarrowregular/archivonarrow-regular.eot"); src: url("/assets/archivonarrowregular/archivonarrow-regular.eot?#iefix") format("embedded-opentype"), url("/assets/archivonarrowregular/archivonarrow-regular.woff") format("woff"), url("/assets/archivonarrowregular/archivonarrow-regular.ttf") format("truetype"), url("/assets/archivonarrowregular/archivonarrow-regular.svg#archivo_narrowregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeueLTPro77BoldCondensed'; src: url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.eot"); src: url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.eot") format("embedded-opentype"), url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.woff") format("woff"), url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.ttf") format("truetype"), url("/assets/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.svg#HelveticaNeueLTPro77BoldCondensed") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_probold'; src: url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.eot"); src: url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.woff") format("woff"), url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.ttf") format("truetype"), url("/assets/sourcesansprobold/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_probold'; src: url("/assets/sourcesansprobold/sourcesanspro-bold.eot"); src: url("/assets/sourcesansprobold/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansprobold/sourcesanspro-bold.woff") format("woff"), url("/assets/sourcesansprobold/sourcesanspro-bold.ttf") format("truetype"), url("/assets/sourcesansprobold/sourcesanspro-bold.svg#source_sans_probold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_proitalic'; src: url("/assets/sourcesansproitalic/sourcesanspro-italic.eot"); src: url("/assets/sourcesansproitalic/sourcesanspro-italic.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansproitalic/sourcesanspro-italic.woff") format("woff"), url("/assets/sourcesansproitalic/sourcesanspro-italic.ttf") format("truetype"), url("/assets/sourcesansproitalic/sourcesanspro-italic.svg#source_sans_proitalic") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_proregular'; src: url("/assets/sourcesansproregular/sourcesanspro-regular.eot"); src: url("/assets/sourcesansproregular/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansproregular/sourcesanspro-regular.woff") format("woff"), url("/assets/sourcesansproregular/sourcesanspro-regular.ttf") format("truetype"), url("/assets/sourcesansproregular/sourcesanspro-regular.svg#source_sans_proregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_prosemibold'; src: url("/assets/sourcesansprosemibold/sourcesanspro-semibold.eot"); src: url("/assets/sourcesansprosemibold/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("/assets/sourcesansprosemibold/sourcesanspro-semibold.woff") format("woff"), url("/assets/sourcesansprosemibold/sourcesanspro-semibold.ttf") format("truetype"), url("/assets/sourcesansprosemibold/sourcesanspro-semibold.svg#source_sans_prosemibold") format("svg"); font-weight: normal; font-style: normal; }

/***Mixin***/
/**Fonts Mixin**/
/***Base***/
body, html { min-width: 320px !important; overflow-x: hidden; }

button, .button { box-shadow: none; }

.alert-box { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

.reveal-modal { position: fixed; top: 8% !important; max-height: 85% !important; height: auto; overflow: auto; }
.reveal-modal h1, .reveal-modal h2, .reveal-modal h3, .reveal-modal h4, .reveal-modal h5, .reveal-modal h6 { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }
.reveal-modal p, .reveal-modal a { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

/***Header***/
header nav { background: -webkit-linear-gradient(left, #02569e, #013066); background: -moz-linear-gradient(left, #02569e, #013066); background: -o-linear-gradient(left, #02569e, #013066); background: -ms-linear-gradient(left, #02569e, #013066); background: linear-gradient(left, #02569e, #013066); width: 100%; min-height: 67px; height: auto; overflow: hidden; }
header .logo-nav { list-style-type: none; padding-top: 17px; float: left; margin-bottom: 0; width: 230px; }
@media screen and (max-width: 420px) { header .logo-nav { padding-left: 0; margin: 0 auto; float: none; width: 182px; } }
header .nav-bar { list-style-type: none; overflow: hidden; float: right; margin-bottom: 0; padding-top: 23px; }
@media screen and (max-width: 768px) { header .nav-bar { padding-left: 0; padding-top: 10px; padding-bottom: 10px; } }
header li { float: left; border-right: 1px solid #01467f; }
@media screen and (max-width: 768px) { header li { margin-top: 5px; } }
header li:last-child { border-right: none; }
header a { display: block; font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; padding-left: 15px; padding-right: 15px; color: white; text-align: center; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; -ms-transition: all 0.4s; transition: all 0.4s; }
header a:hover { -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; -ms-transition: all 0.4s; transition: all 0.4s; }

.header-extension { padding-top: 10px; background: -webkit-linear-gradient(left, #02569e, #013066); background: -moz-linear-gradient(left, #02569e, #013066); background: -o-linear-gradient(left, #02569e, #013066); background: -ms-linear-gradient(left, #02569e, #013066); background: linear-gradient(left, #02569e, #013066); width: 100%; height: auto; border-bottom: 4.5px solid #8e8e8e; }
.header-extension input[type="text"], .header-extension .custom.dropdown, .header-extension .button.postfix { font-size: 1em !important; }
@media screen and (max-width: 640px) { .header-extension input[type="text"], .header-extension .custom.dropdown, .header-extension .button.postfix { font-size: 0.75em !important; } }
.header-extension .custom-input { background: white url("/assets/front/header/search-icon.png") no-repeat 5% center; padding-left: 40px !important; padding-top: 6px; padding-bottom: 6px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }
.header-extension .custom-input:hover, .header-extension .custom-input:focus { background-image: url("/assets/front/header/search-icon.png"); background-repeat: no-repeat; background-position: 5% center; }
.header-extension a.current { font-family: "source_sans_proitalic", sans-serif, tahoma !important; font-weight: normal; font-style: normal; color: #9d9fa2 !important; }
.header-extension .postfix { border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-top: 2px solid #319bd7; border-bottom: none; font-family: "source_sans_proitalic", sans-serif, tahoma !important; font-weight: normal; font-style: normal; background: -webkit-linear-gradient(top, #0b89d0, #0166a5); background: -moz-linear-gradient(top, #0b89d0, #0166a5); background: -o-linear-gradient(top, #0b89d0, #0166a5); background: -ms-linear-gradient(top, #0b89d0, #0166a5); background: linear-gradient(top, #0b89d0, #0166a5); }
.header-extension .postfix:hover { background: -webkit-linear-gradient(bottom, #0b89d0, #0166a5); background: -moz-linear-gradient(bottom, #0b89d0, #0166a5); background: -o-linear-gradient(bottom, #0b89d0, #0166a5); background: -ms-linear-gradient(bottom, #0b89d0, #0166a5); background: linear-gradient(bottom, #0b89d0, #0166a5); }
@media screen and (max-width: 768px) { .header-extension .custom.dropdown.medium.filter.right { margin: 20px auto 0 auto; float: none; } }
.header-extension .custom.dropdown.medium.filter.right.open ul { min-width: 10px; }
.header-extension .filter-label { color: white; font-family: "source_sans_prosemibold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.875em; padding-top: 8px; }
@media screen and (max-width: 480px) { .header-extension .filter-label { font-size: 0.625em; } }
.header-extension .custom.checkbox { border-radius: 3px !important; }
.header-extension .medium.filter { font-size: 0.750em !important; border-radius: 3px !important; }

/***Content***/
div[role="main"] { padding-top: 30px; padding-bottom: 30px; }

.category-panel { padding-top: 5px; padding-bottom: 15px; }
.category-panel .button-group { background: #0677ba; background: -webkit-linear-gradient(left, #0b89d0, #0063a1); background: -moz-linear-gradient(left, #0b89d0, #0063a1); background: -o-linear-gradient(left, #0b89d0, #0063a1); background: -ms-linear-gradient(left, #0b89d0, #0063a1); background: linear-gradient(left, #0b89d0, #0063a1); box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
.category-panel button.alert:hover, .category-panel button.alert:focus, .category-panel .button.alert:hover, .category-panel .button.alert:focus, .category-panel .active-category { background: #033857 !important; }
.category-panel li { border-right: 1px solid #0093cd; -webkit-box-shadow: 1px 0 0 #0568a4; box-shadow: 1px 0 0 #0568a4; }
.category-panel li:last-child { border-right: 0; box-shadow: none; }
.category-panel a { font-family: "source_sans_prosemibold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.813em; margin-bottom: 0; border: none; }
.category-panel button, .category-panel .button { background: none; }

.search-result { border-radius: 8px; }
.search-result article { border-bottom: 1px solid #dedede; padding-top: 25px; padding-bottom: 25px; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; transition: all 0.5s; }
.search-result article > div { padding-left: 0.9375em; padding-right: 0.9375em; }
.search-result article:hover { background: whitesmoke; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; transition: all 0.5s; }
.search-result article:first-child { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.search-result article:last-child { border: none; }

.pagination-centered { margin-top: 20px; }

ul.pagination a { font-family: "archivo_narrowregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }
ul.pagination li { margin-left: 0; }

.result-number { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 1.125em; color: #26a0d7; }

.entry-header { margin-top: 0; font-size: 1.125em; font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; margin-bottom: 0; }
.entry-header a { color: #6d6e70; }
.entry-header a:hover { color: #26a0d7; }

.entry-sub-header { font-family: "source_sans_prosemibold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.875em; margin-top: 0; color: #5a5a5a; }
.entry-sub-header a { color: #6d6e70; }
.entry-sub-header a:hover { color: #26a0d7; }

.entry-place { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; color: #262626; }

.entry-text { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.688em; color: #6d6e70; }

.read-more-button { width: 70px !important; padding: 4px 2px !important; background: #0471b2; background: -webkit-linear-gradient(top, #0b89d0, #0063a1); background: -moz-linear-gradient(top, #0b89d0, #0063a1); background: -o-linear-gradient(top, #0b89d0, #0063a1); background: -ms-linear-gradient(top, #0b89d0, #0063a1); background: linear-gradient(top, #0b89d0, #0063a1); border-radius: 5px; border: 1px solid #429ed0; font-size: 0.625em; color: white; font-family: "source_sans_prosemibold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }
.read-more-button:hover { background: -webkit-linear-gradient(bottom, #0b89d0, #0063a1); background: -moz-linear-gradient(bottom, #0b89d0, #0063a1); background: -o-linear-gradient(bottom, #0b89d0, #0063a1); background: -ms-linear-gradient(bottom, #0b89d0, #0063a1); background: linear-gradient(bottom, #0b89d0, #0063a1); }

.entry-more a, .entry-more p { margin-bottom: 0; }

.entry-link span { display: inline-block; }

.entry-link-separator { color: #adaeaf; }

.entry-link a { font-family: "source_sans_proitalic", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.688em; color: #6d6e70; }
.entry-link a:hover { color: #545556; }

.secondary { padding-top: 15px; background: -webkit- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -moz- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -o- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -ms- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background-size: 100% 10px; background-repeat: no-repeat; }

.sidebar { padding-top: 30px; }

.widget-title { color: #6d6e70; font-size: 1.125em; font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; margin-bottom: 5px; margin-top: 18px; }
.widget-title:first-child { margin-top: 7px; }

.widget-text { color: #6d6e70; font-size: 0.688em; font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

.widget-image { margin-bottom: 17px; }

.description-panel { margin-top: 35px; border-top: 1px solid #b1b2b4; border-bottom: 1px solid #b1b2b4; }
.description-panel p, .description-panel h6, .description-panel ul { text-align: center; }
.description-panel section { min-height: 200px; }
.description-panel .active-section { background: #1b75b2; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; transition: all 0.5s; }
.description-panel .active-section .desc-title, .description-panel .active-section .desc-text, .description-panel .active-section .desc-link { color: white; }
.description-panel .active-section .desc-link:hover { color: rgba(255, 255, 255, 0.5); }
.description-panel .active-section .panel-image-1 { background: url("/assets/front/common/panel-icon-1-hover.png") no-repeat center; }
.description-panel .active-section .panel-image-2 { background: url("/assets/front/common/panel-icon-2-hover.png") no-repeat center; }
.description-panel .active-section .panel-image-3 { background: url("/assets/front/common/panel-icon-3-hover.png") no-repeat center; }
.description-panel .panel-image-1 { background: url("/assets/front/common/panel-icon-1.png") no-repeat center; width: 48px; height: 48px; display: block; margin: 0 auto; }
.description-panel .panel-image-2 { background: url("/assets/front/common/panel-icon-2.png") no-repeat center; width: 44px; height: 51px; display: block; margin: 0 auto; }
.description-panel .panel-image-3 { background: url("/assets/front/common/panel-icon-3.png") no-repeat center; width: 59px; height: 40px; display: block; margin: 0 auto; }
.description-panel p { padding-left: 17%; padding-right: 17%; margin-bottom: 0; line-height: 1.2; }
.description-panel .desc-title { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.813em; color: #404041; padding-top: 25px; margin-top: 0; }
.description-panel .panel-image-fix-1 { padding-top: 27px; }
.description-panel .panel-image-fix-2 { padding-top: 14px; }
.description-panel .panel-image-fix-3 { padding-top: 19px; }
.description-panel .desc-text, .description-panel .desc-link { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; color: #58595b; }
.description-panel ul { list-style-type: none; }
.description-panel ul li { line-height: 0.875em; }
.description-panel .desc-link:hover { color: #323334; }

/***Footer***/
footer { background: #cdcdcd; }

/***Footer***/
.left-footer { padding-top: 50px; }
@media screen and (max-width: 768px) { .left-footer { padding-top: 5px; } }

.right-footer { padding-top: 25px; }

.socmed-wrapper { padding-bottom: 32px; }
@media screen and (max-width: 768px) { .socmed-wrapper { width: 250px; margin: 0 auto !important; text-align: center; } }

.socmed-1, .socmed-2, .socmed-3 { height: 25px; float: left; }

.socmed-3 { width: 85px; }

.fb-share { background: url("/assets/front/footer/fb-share-icon.png") no-repeat center 8px; padding: 5px 30px; }

.copyright, .newsletter-text { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; color: #58595b; }

@media screen and (max-width: 768px) { .copyright { text-align: center; } }

.newsletter-text { margin-top: 10px; }

.newsletter-label { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; margin-bottom: 10px; }

.newsletter-form input[type="text"] { height: 22px; padding: 0 5px; margin: 0; border-radius: 5px; }
.newsletter-form .fix-textbox { width: 77%; float: right; font-style: italic; }
@media screen and (max-width: 768px) { .newsletter-form .fix-textbox { width: 100%; } }
.newsletter-form .prefix, .newsletter-form .postfix { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; height: 22px; padding: 0; margin: 0; line-height: 22px; border-radius: 5px; border: none; font-style: italic; font-size: 0.750em; background: gray; }
.newsletter-form .prefix:hover, .newsletter-form .postfix:hover { background: #5a5a5a; }
.newsletter-form .collapse .columns:first-child { right: -5px; }
@media screen and (max-width: 768px) { .newsletter-form .newsletter-search { float: none !important; margin: 0 auto; } }
