/***Variables***/
/***#website-kampus01#***/
/**Header**/
/**Content**/
/**Footer**/
/***#website-kampus01-comparation#***/
/**Content**/
/***#website-kampus02#***/
/**Content**/
/**Footer**/
/***#website-kampus03#***/
/**Header**/
/**Content**/
/**Footer**/
/***#website-kampus04#***/
/**Header**/
/**Content**/
/**Footer**/
/***Fonts List***/
@font-face { font-family: 'archivo_narrowbold'; src: url("../assets/fonts/archivonarrowbold/archivonarrow-bold.eot"); src: url("../assets/fonts/archivonarrowbold/archivonarrow-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/archivonarrowbold/archivonarrow-bold.woff") format("woff"), url("../assets/fonts/archivonarrowbold/archivonarrow-bold.ttf") format("truetype"), url("../assets/fonts/archivonarrowbold/archivonarrow-bold.svg#archivo_narrowbold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'archivo_narrowregular'; src: url("../assets/fonts/archivonarrowregular/archivonarrow-regular.eot"); src: url("../assets/fonts/archivonarrowregular/archivonarrow-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/archivonarrowregular/archivonarrow-regular.woff") format("woff"), url("../assets/fonts/archivonarrowregular/archivonarrow-regular.ttf") format("truetype"), url("../assets/fonts/archivonarrowregular/archivonarrow-regular.svg#archivo_narrowregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'HelveticaNeueLTPro77BoldCondensed'; src: url("../assets/fonts/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.eot"); src: url("../assets/fonts/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.eot") format("embedded-opentype"), url("../assets/fonts/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.woff") format("woff"), url("../assets/fonts/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.ttf") format("truetype"), url("../assets/fonts/helveticaneueltprobd-cn/helveticaneueltpro-bdcn.svg#HelveticaNeueLTPro77BoldCondensed") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_probold'; src: url("../assets/fonts/sourcesansprobold/sourcesanspro-bold-webfont.eot"); src: url("../assets/fonts/sourcesansprobold/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesansprobold/sourcesanspro-bold-webfont.woff") format("woff"), url("../assets/fonts/sourcesansprobold/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../assets/fonts/sourcesansprobold/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_probold'; src: url("../assets/fonts/sourcesansprobold/sourcesanspro-bold.eot"); src: url("../assets/fonts/sourcesansprobold/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesansprobold/sourcesanspro-bold.woff") format("woff"), url("../assets/fonts/sourcesansprobold/sourcesanspro-bold.ttf") format("truetype"), url("../assets/fonts/sourcesansprobold/sourcesanspro-bold.svg#source_sans_probold") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_proitalic'; src: url("../assets/fonts/sourcesansproitalic/sourcesanspro-italic.eot"); src: url("../assets/fonts/sourcesansproitalic/sourcesanspro-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesansproitalic/sourcesanspro-italic.woff") format("woff"), url("../assets/fonts/sourcesansproitalic/sourcesanspro-italic.ttf") format("truetype"), url("../assets/fonts/sourcesansproitalic/sourcesanspro-italic.svg#source_sans_proitalic") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_proregular'; src: url("../assets/fonts/sourcesansproregular/sourcesanspro-regular.eot"); src: url("../assets/fonts/sourcesansproregular/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesansproregular/sourcesanspro-regular.woff") format("woff"), url("../assets/fonts/sourcesansproregular/sourcesanspro-regular.ttf") format("truetype"), url("../assets/fonts/sourcesansproregular/sourcesanspro-regular.svg#source_sans_proregular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'source_sans_prosemibold'; src: url("../assets/fonts/sourcesansprosemibold/sourcesanspro-semibold.eot"); src: url("../assets/fonts/sourcesansprosemibold/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/sourcesansprosemibold/sourcesanspro-semibold.woff") format("woff"), url("../assets/fonts/sourcesansprosemibold/sourcesanspro-semibold.ttf") format("truetype"), url("../assets/fonts/sourcesansprosemibold/sourcesanspro-semibold.svg#source_sans_prosemibold") format("svg"); font-weight: normal; font-style: normal; }

/***Mixin***/
/**Fonts Mixin**/
/***Base***/
body, html { min-width: 320px !important; overflow-x: hidden; }

button, .button { box-shadow: none; }

.alert-box { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

.reveal-modal { position: fixed; top: 8% !important; max-height: 85% !important; height: auto; overflow: auto; }
.reveal-modal h1, .reveal-modal h2, .reveal-modal h3, .reveal-modal h4, .reveal-modal h5, .reveal-modal h6 { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }
.reveal-modal p, .reveal-modal a { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

/***Header***/
header nav { background: -webkit-linear-gradient(left, #02569e, #013066); background: -moz-linear-gradient(left, #02569e, #013066); background: -o-linear-gradient(left, #02569e, #013066); background: -ms-linear-gradient(left, #02569e, #013066); background: linear-gradient(left, #02569e, #013066); width: 100%; min-height: 67px; height: auto; overflow: hidden; }
header .logo-nav { list-style-type: none; padding-top: 17px; float: left; margin-bottom: 0; width: 230px; }
@media screen and (max-width: 420px) { header .logo-nav { padding-left: 0; margin: 0 auto; float: none; width: 182px; } }
header .nav-bar { list-style-type: none; overflow: hidden; float: right; margin-bottom: 0; padding-top: 23px; }
@media screen and (max-width: 768px) { header .nav-bar { padding-left: 0; padding-top: 10px; padding-bottom: 10px; } }
header li { float: left; border-right: 1px solid #01467f; }
@media screen and (max-width: 768px) { header li { margin-top: 5px; } }
header li:last-child { border-right: none; }
header a { display: block; font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; padding-left: 15px; padding-right: 15px; color: white; text-align: center; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; -ms-transition: all 0.4s; transition: all 0.4s; }
header a:hover { -webkit-transition: all 0.4s; -moz-transition: all 0.4s; -o-transition: all 0.4s; -ms-transition: all 0.4s; transition: all 0.4s; }

.header-extension { padding-top: 10px; background: -webkit-linear-gradient(left, #02569e, #013066); background: -moz-linear-gradient(left, #02569e, #013066); background: -o-linear-gradient(left, #02569e, #013066); background: -ms-linear-gradient(left, #02569e, #013066); background: linear-gradient(left, #02569e, #013066); width: 100%; height: auto; border-bottom: 4.5px solid #8e8e8e; }
.header-extension input[type="text"], .header-extension .custom.dropdown, .header-extension .button.postfix { font-size: 1em !important; }
@media screen and (max-width: 640px) { .header-extension input[type="text"], .header-extension .custom.dropdown, .header-extension .button.postfix { font-size: 0.75em !important; } }
.header-extension .custom-input { background: white url("../assets/images/header/search-icon.png") no-repeat 5% center; padding-left: 40px !important; padding-top: 6px; padding-bottom: 6px; border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }
.header-extension .custom-input:hover, .header-extension .custom-input:focus { background-image: url("../assets/images/header/search-icon.png"); background-repeat: no-repeat; background-position: 5% center; }
.header-extension a.current { font-family: "source_sans_proitalic", sans-serif, tahoma !important; font-weight: normal; font-style: normal; color: #9d9fa2 !important; }
.header-extension .postfix { border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-top: 2px solid #319bd7; border-bottom: none; font-family: "source_sans_proitalic", sans-serif, tahoma !important; font-weight: normal; font-style: normal; background: -webkit-linear-gradient(top, #0b89d0, #0166a5); background: -moz-linear-gradient(top, #0b89d0, #0166a5); background: -o-linear-gradient(top, #0b89d0, #0166a5); background: -ms-linear-gradient(top, #0b89d0, #0166a5); background: linear-gradient(top, #0b89d0, #0166a5); }
.header-extension .postfix:hover { background: -webkit-linear-gradient(bottom, #0b89d0, #0166a5); background: -moz-linear-gradient(bottom, #0b89d0, #0166a5); background: -o-linear-gradient(bottom, #0b89d0, #0166a5); background: -ms-linear-gradient(bottom, #0b89d0, #0166a5); background: linear-gradient(bottom, #0b89d0, #0166a5); }
@media screen and (max-width: 768px) { .header-extension .custom.dropdown.medium.filter.right { margin: 20px auto 0 auto; float: none; } }
.header-extension .custom.dropdown.medium.filter.right.open ul { min-width: 10px; }
.header-extension .filter-label { color: white; font-family: "source_sans_prosemibold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.875em; padding-top: 8px; }
@media screen and (max-width: 480px) { .header-extension .filter-label { font-size: 0.625em; } }
.header-extension .custom.checkbox { border-radius: 3px !important; }
.header-extension .medium.filter { font-size: 0.750em !important; border-radius: 3px !important; }

/***Content***/
div[role="main"] { padding-top: 35px; }

.highlight { padding-left: 0.9375em; padding-right: 0.9375em; }
.highlight > div { border-bottom: 1px solid #d5d5d5; padding-bottom: 30px; padding-left: 0; padding-right: 0; }

.left-highlight { float: left; width: 30%; }

.right-highlight { float: right; width: 65%; }

.post-header, .post-sub-header { font-size: 1.125em; color: #26a0d7; margin-bottom: 0; margin-top: 0; font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

.post-sub-header { font-family: "source_sans_prosemibold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.813em; padding-bottom: 8px; color: #5a5a5a; }

.post-author { font-size: 0.688em; font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; color: black; margin-bottom: 0; }

.share-page { font-family: "archivo_narrowregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.8375em; padding-top: 6px; }

.facebook-share-page-button { background: url("../assets/images/website-kampus03/icon-share-facebook.png") no-repeat center; padding: 8px 8px; padding-top: 5px; }

#custom-tweet-button { background: url("../assets/images/website-kampus03/icon-share-twitter.png") no-repeat center; padding: 8px 9px; padding-top: 5px; display: inline; cursor: pointer; }

.note { padding-top: 43px; font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.688em; color: #6d6e70; }

.gallery { padding-top: 30px; }

.profile { margin: 30px 0 40px 0 !important; background: whitesmoke; border: 1px solid #d5d5d5; border-top-right-radius: 10px; }
.profile > .columns { padding-left: 0; padding-right: 0; }
@media screen and (max-width: 768px) { .profile { border-radius: 0; } }

.section-container .content { background: whitesmoke !important; border: none !important; padding-top: 30px !important; }
.section-container .content p, .section-container .content a { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }
.section-container .content h1, .section-container .content h2, .section-container .content h3, .section-container .content h4, .section-container .content h5, .section-container .content h6 { font-family: "source_sans_prosemibold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

.section-container.auto { position: relative; }

.tab-shadow { width: 450px; height: 14px; background: url("../assets/images/website-kampus03/profile-panel-shadow.png") no-repeat -5px center; position: absolute; top: 40px; z-index: 10; }
@media screen and (max-width: 768px) { .tab-shadow { display: none; } }

.section-container.auto > section > .title, .section-container.auto > .section > .title { background: #0983c9; border: none !important; z-index: 11; }

.section-container.auto > section > .title:hover, .section-container.auto > .section > .title:hover { background: #dadada; }

.section-container.auto > section > .title a, .section-container.auto > .section > .title a { color: white; font-size: 0.813em; padding: 9px 26px 9px 26px; font-family: "source_sans_prosemibold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

.section-container.auto > section > .title a:hover, .section-container.auto > .section > .title a:hover { color: #0983c9; }

.section-container.auto > section.active > .title, .section-container.auto > .section.active > .title { background: #dadada; }

.section-container.auto > section.active > .title a, .section-container.auto > .section.active > .title a { color: #0983c9; }

.socmed-fb { background: #0983c9 url("../assets/images/website-kampus03/profile-panel-fb.png") no-repeat center !important; }
@media screen and (max-width: 768px) { .socmed-fb { background-position: 20px center !important; } }
.socmed-fb:hover { background: #dadada url("../assets/images/website-kampus03/profile-panel-fb-hover.png") no-repeat center !important; }
@media screen and (max-width: 768px) { .socmed-fb:hover { background-position: 20px center !important; } }

.socmed-twitter { background: #0983c9 url("../assets/images/website-kampus03/profile-panel-twitter.png") no-repeat center !important; }
@media screen and (max-width: 768px) { .socmed-twitter { background-position: 18px center !important; } }
.socmed-twitter:hover { background: #dadada url("../assets/images/website-kampus03/profile-panel-twitter-hover.png") no-repeat center !important; }
@media screen and (max-width: 768px) { .socmed-twitter:hover { background-position: 18px center !important; } }

.socmed-youtube { background: #0983c9 url("../assets/images/website-kampus03/profile-panel-youtube.png") no-repeat center !important; }
@media screen and (max-width: 768px) { .socmed-youtube { background-position: 19px center !important; } }
.socmed-youtube:hover { background: #dadada url("../assets/images/website-kampus03/profile-panel-youtube-hover.png") no-repeat center !important; }
@media screen and (max-width: 768px) { .socmed-youtube:hover { background-position: 19px center !important; } }

.socmed-link { padding: 10px 10px !important; }

.margin-fix-1 { left: 169px !important; }

.margin-fix-2 { left: 280px !important; }

.margin-fix-3 { left: 378px !important; }

.margin-fix-4 { left: 400px !important; }

.margin-fix-5 { left: 422px !important; }

.information { padding-top: 25px; }
.information > .columns { border-bottom: 1px solid #d5d5d5; }
.information fieldset { border: none; margin-top: 0; padding-top: 0; }
.information label { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.688em; color: #6d6e70; margin-bottom: 0; padding-bottom: 0; cursor: auto; }

.information-title { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 1.125em; color: #26a0d7; margin-bottom: 5px; }

.description { padding-top: 25px; padding-bottom: 35px; }
.description img { float: left; padding-right: 20px; padding-bottom: 10px; }

.description-title { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 1.125em; margin-top: 0; color: #6d6e70; }

.description-text { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.688em; color: #6d6e70; }

.secondary { padding-top: 15px; background: -webkit- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -moz- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -o- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: -ms- #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background: #cdcdcd radial-gradient(at 50% 0, rgba(0, 0, 0, 0.3), transparent 65%); background-size: 100% 10px; background-repeat: no-repeat; }

.widget-title { color: #6d6e70; font-size: 1.125em; font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; margin-bottom: 5px; margin-top: 18px; }
.widget-title:first-child { margin-top: 7px; }

.widget-text { color: #6d6e70; font-size: 0.688em; font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; }

.widget-image { margin-bottom: 17px; }

.description-panel { margin-top: 35px; border-top: 1px solid #b1b2b4; border-bottom: 1px solid #b1b2b4; }
.description-panel p, .description-panel h6, .description-panel ul { text-align: center; }
.description-panel section { min-height: 200px; }
.description-panel .active-section { background: #1b75b2; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; -ms-transition: all 0.5s; transition: all 0.5s; }
.description-panel .active-section .desc-title, .description-panel .active-section .desc-text, .description-panel .active-section .desc-link { color: white; }
.description-panel .active-section .desc-link:hover { color: rgba(255, 255, 255, 0.5); }
.description-panel .active-section .panel-image-1 { background: url("../assets/images/common/panel-icon-1-hover.png") no-repeat center; }
.description-panel .active-section .panel-image-2 { background: url("../assets/images/common/panel-icon-2-hover.png") no-repeat center; }
.description-panel .active-section .panel-image-3 { background: url("../assets/images/common/panel-icon-3-hover.png") no-repeat center; }
.description-panel .panel-image-1 { background: url("../assets/images/common/panel-icon-1.png") no-repeat center; width: 48px; height: 48px; display: block; margin: 0 auto; }
.description-panel .panel-image-2 { background: url("../assets/images/common/panel-icon-2.png") no-repeat center; width: 44px; height: 51px; display: block; margin: 0 auto; }
.description-panel .panel-image-3 { background: url("../assets/images/common/panel-icon-3.png") no-repeat center; width: 59px; height: 40px; display: block; margin: 0 auto; }
.description-panel p { padding-left: 17%; padding-right: 17%; margin-bottom: 0; line-height: 1.2; }
.description-panel .desc-title { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.813em; color: #404041; padding-top: 25px; margin-top: 0; }
.description-panel .panel-image-fix-1 { padding-top: 27px; }
.description-panel .panel-image-fix-2 { padding-top: 14px; }
.description-panel .panel-image-fix-3 { padding-top: 19px; }
.description-panel .desc-text, .description-panel .desc-link { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; color: #58595b; }
.description-panel ul { list-style-type: none; }
.description-panel ul li { line-height: 0.875em; }
.description-panel .desc-link:hover { color: #323334; }

/***Footer***/
footer { background: #cdcdcd; }

/***Footer***/
.left-footer { padding-top: 50px; }
@media screen and (max-width: 768px) { .left-footer { padding-top: 5px; } }

.right-footer { padding-top: 25px; }

.socmed-wrapper { padding-bottom: 32px; }
@media screen and (max-width: 768px) { .socmed-wrapper { width: 250px; margin: 0 auto !important; text-align: center; } }

.socmed-1, .socmed-2, .socmed-3 { height: 25px; float: left; }

.socmed-3 { width: 85px; }

.fb-share { background: url("../assets/images/footer/fb-share-icon.png") no-repeat center 8px; padding: 5px 30px; }

.copyright, .newsletter-text { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; color: #58595b; }

@media screen and (max-width: 768px) { .copyright { text-align: center; } }

.newsletter-text { margin-top: 10px; }

.newsletter-label { font-family: "source_sans_probold", sans-serif, tahoma !important; font-weight: normal; font-style: normal; font-size: 0.750em; margin-bottom: 10px; }

.newsletter-form input[type="text"] { height: 22px; padding: 0 5px; margin: 0; border-radius: 5px; }
.newsletter-form .fix-textbox { width: 77%; float: right; font-style: italic; }
@media screen and (max-width: 768px) { .newsletter-form .fix-textbox { width: 100%; } }
.newsletter-form .prefix, .newsletter-form .postfix { font-family: "source_sans_proregular", sans-serif, tahoma !important; font-weight: normal; font-style: normal; height: 22px; padding: 0; margin: 0; line-height: 22px; border-radius: 5px; border: none; font-style: italic; font-size: 0.750em; background: gray; }
.newsletter-form .prefix:hover, .newsletter-form .postfix:hover { background: #5a5a5a; }
.newsletter-form .collapse .columns:first-child { right: -5px; }
@media screen and (max-width: 768px) { .newsletter-form .newsletter-search { float: none !important; margin: 0 auto; } }
