.row-fluid
  .span12
    = form_for @jenis_pt, :html => {:class => "form-horizontal" } do |f|
      - if @jenis_pt.errors.any?
        .alert.alert-error
          %button.close{"data-dismiss" => "alert", type: "button"} &times;
          %div
            - @jenis_pt.errors.full_messages.each do |msg|
              = msg
              %br
      .tab-content{:style => "padding: 0;"}
        #account-details.tab-pane.active
          .widget.widget-2
            .widget-head
              %h4.heading.glyphicons.pencil
                %i>
                Tambah Jenis Perguruan Tinggi
            .widget-body{:style => "padding-bottom: 0;"}
              .row-fluid
                .span6
                  .control-group
                    %label.control-label Jenis
                    .controls
                      = f.text_field :jenis, id: "jenis_pt", class: "span10", placeholder: "ex. JenisXYZ"
                      %i
              .form-actions{:style => "margin: 0;"}
                %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{:type => "submit"}
                  %i>
                  Save
                %button.btn.btn-icon.btn-default.glyphicons.circle_remove{:type => "button"}
                  %i>
                  Cancel