<div class="row-fluid">
    <div class="span12">
        <div class="box corner-all">
            <div class="box-header grd-white corner-top">
                <div class="header-control">
                    <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                    <a data-box="close" data-hide="bounceOutRight">&times;</a>
                </div>
                <span>Data Jenis Perguruan Tinggi</span>
            </div>
            <div class="box-body">
                <table id="datatables" class="table table-hover responsive">
                    <thead>
                        <tr>
                            <th>Jenis PT</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @jenis_pts.each do |jenis_pt| %>
                        <tr>
                            <td><%= jenis_pt.jenis %></td>
                            <td class="center">
                                <span class="label label-info">
                                    <%= link_to "Edit",edit_jenis_pt_path(jenis_pt) %>
                                </span>
                                <span class="label label-important">
                                    <%= link_to "Delete",jenis_pt_path(jenis_pt), method: :delete, :class=>"delete" %>
                                </span>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                
            </div><!-- /box-body -->
        </div><!-- /box -->
    </div><!-- /span -->
</div>
<script type="text/javascript">
    $(document).ready(function() {
        // try your js
        
        // peity chart
        $("span[data-chart=peity-bar]").peity("bar");
                        
        // datatables
        $('#datatables').dataTable( {
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page"
            }
        });

        $('.delete').on('click', function () {
            return confirm('Anda yakin akan menghapus data ini?');
        });
    });

</script>