.row-fluid
  .span12
    = form_for @provinsi, :html => {:class => "form-horizontal" } do |f|
      - if @provinsi.errors.any?
        .alert.alert-error
          %button.close{"data-dismiss" => "alert", :type => "button"} &times;
          %div
            - @provinsi.errors.full_messages.each do |msg|
              = msg
              %br
      .tab-content{:style => "padding: 0;"}
        #account-details.tab-pane.active
          .widget.widget-2
            .widget-head
              %h4.heading.glyphicons.pencil
                %i>
                Tambah Provinsi
            .widget-body{:style => "padding-bottom: 0;"}
              .row-fluid
                .span6
                  .control-group
                    %label.control-label Provinsi
                    .controls
                      = f.text_field :provinsi, :id => "provinsi", :class => "span10", :placeholder => "ex. Provinsi XYZ"
                        %i
              .form-actions{:style => "margin: 0;"}
                %button.btn.btn-icon.btn-primary.glyphicons.circle_ok{:type => "submit"}
                  %i>
                  Save
                %button.btn.btn-icon.btn-default.glyphicons.circle_remove{:onclick => "history.go(-1);", :type => "button"}
                  %i>
                  Cancel