<% provide(:title, 'Provinsi') %>
<p id="notice"><%= notice %></p>

<p>
  <b>Provinsi:</b>
  <%= @provinsi.provinsi %>
</p>


<%= link_to 'Edit', edit_provinsi_path(@provinsi) %> |
<%= link_to 'Back', provinsis_path %>
