<%= image_tag("ver_header.jpg", :alt => "", :width => "521", :height => "63", :align => "middle", :style => "padding-left:60px") %>
    <div style="width: 525px;height: 220px;" align="center">    
      <div style="padding-top:10px;" align="left">            
        <div style="padding-left:60px; padding-bottom:10px">
          <label><span class="style1">Email Verifikasi</span></label>
          <br>
          <p><strong>Halo @visitor.email,</strong><br>
            Selamat datang di Kampus.co.id<br>
            Terima kasih telah mendaftarkan email anda pada kami. Kami akan memberikan kabar terbaru Kampus.co.id via email ini</p>
            <p>nb: Jika Anda tidak mendaftarkan email anda di Kampus.co.id, mohon abaikan email ini. </p>
        </div>
      </div>
    </div>