
html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #feffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #4F4F4F;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
	color: #322F2A;
}

p, ol, ul
{
	margin-top: 0px;
}

ol, ul
{
	margin: 0px;
	padding: 0px;
	list-style:  none
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #0074C6;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

img.border
{
}

img.alignleft
{
	float: left;
}

img.alignright
{
	float: right;
}

img.aligncenter
{
	margin: 0px auto;
}

hr
{
	display: none;
}

ul.style1
{
}

ul.style1 li
{
	padding: 1.50em 0em 1.90em 0em;
	border-top: 1px solid #e8e8e8;
}

ul.style1 a
{
	text-decoration: none;
	color: #6e6d6d;
}

ul.style1 a:hover
{
	text-decoration: underline;
}

ul.style1 .posted
{
	font-size: 0.90em;
	color: #b6b6b6;
}

ul.style1 .first
{
	padding-top: 0em;
	border-top: none;
}

/** WRAPPER */

#wrapper
{
	background: #FFFFFF;
}

.container
{
	width: 1000px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

/** HEADER */

#header-wrapper
{
	overflow: hidden;
	height: 150px;
	/*background: #58534F;*/
	border-bottom: 3px solid #ffffff;
}

#header
{
	overflow: hidden;
}

#header1
{
	background-image: url(header.jpg);
	background-repeat: repeat-x;
}

/** LOGO */

#logo
{
	position: relative;
	float: left;
	width: 380px;
	height: 100px;
	top: 25px;
}

#logo h1, #logo p
{
	margin: 0px;
	line-height: normal;
}

#logo h1 a
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	line-height: 150px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.50em;
}

/** Header Border */

#hborder
{
	position: relative;
	float: left;
	width: 380px;
	height: 100px;
	top: 25px;
}

/*#logo h1, #logo p
{
	margin: 0px;
	line-height: normal;
}*/

#hborder h1 a
{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	line-height: 150px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.50em;
}


/** MENU */

#menu
{
	padding: 40px 0px 0px 0px;
	height: 45px;
}

#menu ul
{
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li
{
	float: left;
	padding: 0.5em 0.5em 0.5em 1em;
	/*padding: 2em 2em 2em 2em;*/
	border-left: 1px solid #383533;
	box-shadow:  -1px 0 0px #6D6865;
}

#menu a
{
	display: block;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0,0,0,.30);
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14 pt;
	color: #368bb6;
}

#menu a:hover
{
	text-decoration: underline;
	color: #09405b;
}

#menu .active a
{
	color: #717171;
}

#menu .first
{
	padding-left: 0px;
	border-left: none;
	box-shadow: none;
}

/**  MENU LOGIN */

#menulogin
{
	padding: 0px 0px 0px 0px;
	height: 45px;
	left: 0px;
	top: -1px;
}

#menulogin ul
{
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menulogin li
{
	float: left;
	padding: 0.1em 1em 0.1em 1em;
	/*padding: 2em 2em 2em 2em;*/
	border-left: 1px solid #383533;
	box-shadow:  -1px 0 0px #6D6865;
}

#menulogin a
{
	display: block;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0,0,0,.30);
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'quicksand Book', sans-serif;
	font-size: 12 pt;
	color: #368bb6;
}

#menulogin .active a
{
	color: #717171;
}

#menulogin .first
{
	padding-left: 0px;
	border-left: none;
	box-shadow: none;
}

/** MENU BAWAH */

#menubw
{
	padding: 40px 0px 0px 80px;
	height: 45px;
	
}

#menubw ul
{
	float: left;
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menubw li
{
	float: left;
	padding: 0.5em 0.5em 0.5em 1em;
	/*padding: 2em 2em 2em 2em;*/
	border-left: 1px solid #383533;
	/*box-shadow:  -1px 0 0px #6D6865;*/
}

#menubw a
{
	display: block;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0,0,0,.30);
	text-transform: uppercase;
	font-weight: 400;
	font-family: 'Droid Sans', sans-serif;
	font-size: 14 pt;
	color: #368bb6;
}

#menubw a:hover
{
	text-decoration: underline;
	color: #09405b;
}

#menubw .active a
{
	color: #717171;
}

#menubw .first
{
	padding-left: 0px;
	border-left: none;
	box-shadow: none;
}

/** PAGE */

#page
{
	overflow: hidden;
	padding: 50px 0px;
	border-bottom: 1px solid #D8D8D8;
}

#page h2
{
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: #3B3B3A;
}

/** CONTENT */

#content
{
	float: left;
	width: 650px;
}

#content h2
{
	padding: 10px 0px 20px 0px;
	font-size: 2.50em;
}

#content img
{
	float: left;
	margin-right: 40px;
	border-radius: 120px;
}

/** SIDEBAR */

#sidebar
{
	float: right;
	width: 300px;
}

#sidebar h2
{
	padding: 10px 0px 20px 0px;
}

/* Footer */

#footer
{
	overflow: hidden;
	padding: 3em 0em;
	/*border-top: 1px solid #3B3B3A;*/
}

#footer p
{
	text-shadow: 1px 1px 0px rgba(0,0,0,.30);
	text-align: center;
	color: #959494;
}

#footer a
{
	color: #BFBFBF;
}

#footer1
{
	bottom:0;
	position:absolute;
	width:100%;
	height:18px;
	background:#0a2a39;
	
}

/** Banner */

#banner
{
	overflow: hidden;
	padding: 50px 0px;
	background: #E2E0DE;
	border-bottom: 1px solid #D8D8D8;
}

/** Slider */

#slider
{
	overflow: hidden;
	margin: 0 auto;
	width: 1000px;
	position: relative;
}

#slider .button
{
	display: inline-block;
	background: #0074C6;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	height: 50px;
	text-decoration: none;
	outline: 0;
	border-radius: 8px;
	font-size: 1.25em;
	border-bottom: solid 2px #0054A6;
	text-shadow: 0 1px 1px #003A6C;
}

#slider .button:hover
{
	background: #2094E6;
}

#slider .viewer
{
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	overflow: hidden;
}

#slider .viewer .reel
{
	display: none;
	height: 500px;
}

#slider .viewer .reel .slide
{
	position: relative;
	width: 1000px;
	height: 500px;
}

#slider .viewer .reel h2
{
	position: absolute;
	top: 230px;
	left: 0;
	padding: 0px 30px;
	line-height: 80px;
	background: #111111;
	text-align: center;
	opacity: 0.75;
	font-weight: normal;
	font-family: 'Archivo Narrow', sans-serif;
	color: #ffffff;
	font-size: 4.50em;
}

#slider .viewer .reel p
{
	position: absolute;
	top: 310px;
	left: 0;
	padding: 5px 35px;
	text-align: center;
	opacity: 0.75;
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #ffffff;
	font-size: 2.00em;
}

#slider .indicator
{
	margin: 30px auto 0 auto;
}

#slider .indicator ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

#slider .indicator ul li
{
	display: inline-block;
	width: 12px;
	height: 12px;
	text-indent: -9999em;
	background: #c8c8c8;
	margin: 0 2px 0 2px;
	border-radius: 8px;
	border-bottom: solid 1px #ffffff;
	border-top: solid 1px #909090;
}

#slider .indicator ul li.active
{
	background: #505050;
	border-top: solid 1px #505050;
}

#featured
{
	overflow: hidden;
	padding: 50px 0px;
	border-bottom: 1px solid #D8D8D8;
}

#featured #fbox1
{
	float: left;
	width: 235px;
	margin-right: 20px;
}

#featured #fbox2
{
	float: left;
	width: 235px;
	margin-right: 20px;
}

#featured #fbox3
{
	float: left;
	width: 235px;
}

#featured #fbox4
{
	float: right;
	width: 235px;
}

#featured img
{
	border-radius: 120px;
}

#featured p
{
	text-align: center;
}

#featured h2
{
	padding: 20px 0px 20px 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.00em;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: #0074C6;
}

#featured .title 
{
	margin-bottom: 40px;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.50em;
	color: #3B3B3A !important;
}

/* ----------------------------------------------Search Form-------------------------------------*/

#search{
	float:center;
	margin:0;
	padding:0;
	
	}

#search input{
	display:block;
	float:center;
	width:432px;
	height:40px;
	margin:0;
	padding:5px 5px 5px 10px;
	color:#7a7b7b;
	/*background:url("../images/search_l.gif") 0 0 no-repeat #2C2C2C;*/
	background: white;
	border:none;
	font-size: 15px;
	border-radius: 5px;
	}

	/*----icon search----*/
#search input#go{
	width:45px;
	height:40px;
	margin:0;
	padding:0px;
	cursor:pointer;
	background:none;
	}

	/* ----------------------------------------------Login Page Form-------------------------------------*/

#loginp{
	float:center;
	margin:0;
	padding:0;
	
	}

#loginp input[type="button"]{
	display:block;
	float:center;
	width:350px;
	height:30px;
	margin:0;
	padding:5px 5px 5px 10px;
	color:#dcdddd;
	/*background:url("../images/search_l.gif") 0 0 no-repeat #2C2C2C;*/
	background: white;
	border:none;
	font-size: 15px;
	border-radius: 1px;
	}
	
#loginp input[type="text"]{
	display:block;
	float:center;
	width:350px;
	height:30px;
	margin:0;
	padding:5px 5px 5px 10px;
	color:#333333;
	/*background:url("../images/search_l.gif") 0 0 no-repeat #2C2C2C;*/
	background: white;
	border:none;
	font-size: 15px;
	border-radius: 1px;
	border: solid;
	border-width:thin;
	border-color:#666666;
	}
	
#loginp input[type="password"]{
	display:block;
	float:center;
	width:350px;
	height:30px;
	margin:0;
	padding:5px 5px 5px 10px;
	color:#333333;
	/*background:url("../images/search_l.gif") 0 0 no-repeat #2C2C2C;*/
	background: white;
	border:none;
	font-size: 15px;
	border-radius: 1px;
	border: solid;
	border-width:thin;
	border-color:#666666;
	}

	/*----icon search----*/
#loginp input#go{
	width:45px;
	height:40px;
	margin:0;
	padding:0px;
	cursor:pointer;
	background:none;
	}

	/*---button---*/
.buttonn {
    /* Size and position */
    width: 40%;
    padding: 3px 5px;
	background:url("../images/fb.png") no-repeat;
    cursor:pointer;
	
    
    /* Styles */
    /*background: #8c8e8f;*/
/*    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    */
    border-radius: 5px;
    border: 0px solid #8c8e8f;
    /*box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);*/
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: black;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 15px;
    
    font-family: 'Calibri', 'Lato', Arial, sans-serif;
	
	
}



	/*---form-4---*/
.form-4 {
    /* Size and position */
    width: 300px;
    padding: 0px;
    position: relative;

    /* Font styles */
    font-family: 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.form-4 input[type=text],
.form-4 input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

/* Placeholder style (from http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css) */

.form-4 input::-webkit-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-moz-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input:-ms-input-placeholder {
    color: rgba(37,21,26,0.5);
    text-shadow: 0 1px 0 rgba(255,255,255,0.15);
}

.form-4 input[type=text]:hover,
.form-4 input[type=password]:hover {
    border-color: #333;
}

.form-4 input[type=text]:focus,
.form-4 input[type=password]:focus,
.form-4 input[type=submit]:focus {
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1),
        0 0 0 3px rgba(255,255,255,0.15);
    outline: none;
}

/* Fallback */
.no-boxshadow .form-4 input[type=text]:focus,
.no-boxshadow .form-4 input[type=password]:focus {
    outline: 1px solid white;
}

.form-4 input[type=submit] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;
    
    /* Styles */
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.form-4 input[type=submit]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
}

/* Fallback */
.no-boxshadow .form-4 input[type=submit]:hover {
    background: #594642;
}

.form-4 label {
    display: none;
    padding: 0 0 5px 2px;
    cursor: pointer;
}

.form-4 label:hover ~ input {
    border-color: #333;
}

.no-placeholder .form-4 label {
    display: block;
}
