<div class="row-fluid">
    <div class="span12">
        <div class="box corner-all">
            <div class="box-header grd-white corner-top">
                <div class="header-control">
                    <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                    <a data-box="close" data-hide="bounceOutRight">&times;</a>
                </div>
                <span>Data Kota</span>
            </div>
            <div class="box-body">
                <table id="datatables" class="table table-hover responsive">
                    <thead>
                        <tr>
                            <th>Nama Kota</th>
                            <th>Provinsi</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @kotas.each do |kota| %>
                        <tr>
                           <td><%= kota.kota %></td>
                           <td><%= kota.provinsi.provinsi %></td>
                           <td class="center">
                                <span class="label label-info">
                                    <%= link_to "Edit",edit_kota_path(kota)%>
                                </span>
                                <span class="label label-important">
                                    <%= link_to "Delete", kota_path(kota), method: :delete, :class => "delete" %>
                                </span>
                            </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
                
            </div><!-- /box-body -->
        </div><!-- /box -->
    </div><!-- /span -->
</div>
<script type="text/javascript">
            $(document).ready(function() {
                // try your js
                
                // peity chart
                $("span[data-chart=peity-bar]").peity("bar");
                                
                // datatables
                $('#datatables').dataTable( {
                    "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    "sPaginationType": "bootstrap",
                    "oLanguage": {
                            "sLengthMenu": "_MENU_ records per page"
                    }
                });

                $('.delete').on('click', function () {
                    return confirm('Anda yakin akan menghapus data ini?');
                });
            });
      
        </script>