<header class="header">
  <!--nav bar helper-->
  <div class="navbar-helper">
    <div class="row-fluid">
      <!--panel site-name-->
      <div class="span2">
        <div class="panel-sitename">
          <h2><a href="index.html"><span class="color-teal">Admin</span></a>Kampus</h2>
        </div>
      </div>
      <!--/panel name-->
    </div>
    <!--/row-fluid-->
  </div>
  <!--/nav bar helper-->
</header>