<footer>
  <div class="row">
    <div class="large-6 push-6 columns right-footer">      
      <form class="newsletter-form">          
        <div class="row">            
          <div class="small-10 large-7 columns right newsletter-search">
            <div class="row">
              <div class="large-12 columns">
                <label class="right newsletter-label">Newsletter</label>
              </div>
            </div>
            <div class="row collapse">                
              <div class="small-9 columns">
                <input type="text" class="fix-textbox">
              </div>
              <div class="small-3 columns">
                <a href="#" class="button prefix">Submit</a>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p class="right newsletter-text">Berlangganan kampus.co.id melalui email</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="large-6 pull-6 columns left-footer">
      <div class="row">
        <div class="small-12 columns">
          <div class="socmedbar">
            
          </div>
        </div>          
      </div>
      <div class="row">
        <div class="small-12 columns">
          <p class="copyright">©2013 kampus.co.id | All Right Reserved</p>
        </div>
      </div>        
    </div>
  </div>
</footer>