<footer>
  <div class="row">
    <div class="large-6 push-6 columns right-footer">      
      <%= form_for Visitor.new, :html => {:class => "newsletter-form"} do |f| %>
      <div class="row">            
        <div class="small-10 large-7 columns right newsletter-search">
          <div class="row">
            <div class="large-12 columns">
              <label class="right newsletter-label">Newsletter</label>
            </div>
          </div>
          <div class="row collapse">                
            <div class="small-9 columns">
              <%= f.text_field :email, :placeholder => "Email", :class => "fix-textbox", :required => true %>
            </div> 
            <div class="small-3 columns">
              <button type="submit" class="button prefix">Submit</button>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <p class="right newsletter-text">Berlangganan kampus.co.id melalui email</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <div class="large-6 pull-6 columns left-footer">
      <div class="row">
        <div class="small-5 small-centered large-12 columns socmed-wrapper">            
          <div class="socmed-1">
            <a class="fb-share" href="#" 
            onclick="
              window.open(
                'https://www.facebook.com/sharer/sharer.php?u=http://kampus.co.id', 
                'facebook-share-dialog', 
                'width=626,height=436'); 
              return false;">
            </a>
          </div>
          <div class="socmed-2">              
            <iframe src="http://www.facebook.com/plugins/like.php?locale=en_US&href=https%3A%2F%2Fwww.facebook.com%2Fkampuscoid&amp;send=true&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font=arial&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:75px; height:21px;" allowTransparency="true"></iframe>
          </div>
          <div class="socmed-3">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="kampuscoid" data-lang="en" data-url="http://kampus.co.id">Tweet</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <p class="copyright">©2013 kampus.co.id | All Right Reserved</p>
        </div>
      </div>        
    </div>
  </div>
</footer>

<%= render :partial => "layouts/ga" if Rails.env == "production" %>