<footer>
  <div class="row">
    <div class="large-6 push-6 columns right-footer">      
      <form class="newsletter-form">
      <%= form_for Visitor.new, :class => "newsletter-form" do |f| %>
        <div class="row">            
          <div class="small-10 large-7 columns right newsletter-search">
            <div class="row">
              <div class="large-12 columns">
                <label class="right newsletter-label">Newsletter</label>
              </div>
            </div>
            <div class="row collapse">                
              <div class="small-9 columns">
                <%= f.text_field :email, :placeholder => "Email", :class => "fix-textbox", :required => true %>
              </div> 
              <div class="small-3 columns">
                <button type="submit" class="button prefix">Submit</button>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <p class="right newsletter-text">Berlangganan kampus.co.id melalui email</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="large-6 pull-6 columns left-footer">
      <div class="row">
        <div class="small-12 columns">
          <div class="socmedbar">
            
          </div>
        </div>          
      </div>
      <div class="row">
        <div class="small-12 columns">
          <p class="copyright">©2013 kampus.co.id | All Right Reserved</p>
        </div>
      </div>        
    </div>
  </div>
</footer>
<%= render :partial => "layouts/ga" if Rails.env == "production" %>
<%= debug(params) if Rails.env.development? %>