.large-3.columns
  .row.sidebar
    .large-12.columns
      %section
        %a{:href => "#"}
          %img.sidebar-banner{:src => "/assets/front/sidebar/banner-pizza.jpg"}
      %section
        %h5.widget-title Latest News
        %ul.widget-list
          %li
            .widget-note
              %span Selasa 13/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "#"} Pendaftaran SPMB di Hari Pertama Membludak
          %li
            .widget-note
              %span Selasa 13/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "#"} Pendaftaran SPMB di Hari Pertama Membludak
          %li
            .widget-note
              %span Selasa 13/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "#"} Pendaftaran SPMB di Hari Pertama Membludak
          %li
            .widget-note
              %span Selasa 13/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "#"} Pendaftaran SPMB di Hari Pertama Membludak
          %li
            .widget-note
              %span Selasa 13/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "#"} Pendaftaran SPMB di Hari Pertama Membludak
      %section
        %h5.widget-title Popular News
        %ul.widget-list.widget-list-more-space
          %li
            .widget-note
              %span Selasa 13/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "#"} Pendaftaran SPMB di Hari Pertama Membludak
            .widget-excerpt
              %img{:src => "/assets/front/sidebar/popular-news-1.jpg"}
                %p Tradisi santri identik dengan sikap mental tradisional yang kolot, fanatik, bersikukuh pada pandangan atau kebiasaan lama, meskipun terbukti keliru ...
          %li
            .widget-note
              %span Selasa 13/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "#"} Pendaftaran SPMB di Hari Pertama Membludak
            .widget-excerpt
              %img{:src => "/assets/front/sidebar/popular-news-2.jpg"}
                %p Tradisi santri identik dengan sikap mental tradisional yang kolot, fanatik, bersikukuh pada pandangan atau kebiasaan lama, meskipun terbukti keliru ...
          %li
            .widget-note
              %span Selasa 13/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "#"} Pendaftaran SPMB di Hari Pertama Membludak
            .widget-excerpt
              %img{:src => "/assets/front/sidebar/popular-news-3.jpg"}
                %p Tradisi santri identik dengan sikap mental tradisional yang kolot, fanatik, bersikukuh pada pandangan atau kebiasaan lama, meskipun terbukti keliru ...
      %section
        %a{:href => "#"}
          %img.sidebar-banner{:src => "/assets/front/sidebar/banner-kampuscoid.jpg"}