.large-3.columns
  .row.sidebar
    .large-12.columns
      %section
        %h5.widget-title Lorem Ipsum
        %p.widget-text 
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %section
        %h5.widget-title Lorem Ipsum
        %p.widget-text
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      %section
        %h5.widget-title Lorem Ipsum
        = image_tag asset_path('front/common/widget-image.jpg'), class: "widget-image"
        %p.widget-text
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.