<div class="large-3 columns">
   <div class="row sidebar">
     <div class="large-12 columns">
       <section>
         <h5 class="widget-title">Lorem Ipsum</h5>
         <p class="widget-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
       </section>
       <section>
         <h5 class="widget-title">Lorem Ipsum</h5>
         <p class="widget-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
       </section>
       <section>
         <h5 class="widget-title">Lorem Ipsum</h5>
         <img class="widget-image" src="assets/images/website-kampus02/widget-image.jpg">
         <p class="widget-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
       </section>
     </div>
   </div>
 </div>