.large-3.columns
  .row.sidebar
    .large-12.columns
      %section
        %a{:href => "#"}
          %img.sidebar-banner{:src => "/assets/front/sidebar/banner.jpg"}
      %section
        %h5.widget-title Latest News
        %ul.widget-list
          %li
            .widget-note
              %span Sabtu 09/03/2013
              |
              %span 09.40 WIB
            %a.widget-list-link{:href => "http://www.kampusnews.com/pertimbangan-pilih-negara-untuk-kuliah/", target: "_blank"} Pertimbangan Pilih Negara Untuk Kuliah
          %li
            .widget-note
              %span Selasa 02/04/2013
              |
              %span 12.34 WIB
            %a.widget-list-link{:href => "http://www.kampusnews.com/mengajukan-visa-ke-korea-selatan/", target: "_blank"} Mengajukan Visa ke Korea Selatan
          %li
            .widget-note
              %span Senin 15/04/2013
              |
              %span 16.30 WIB
            %a.widget-list-link{:href => "http://www.kampusnews.com/mengajukan-visa-ke-korea-selatan/", target: "_blank"} Jepang, Negeri Sejuta Temuan
          %li
            .widget-note
              %span Selasa 07/05/2013
              |
              %span 15.30 WIB
            %a.widget-list-link{:href => "http://www.kampusnews.com/7-tipe-mahasiswa-yang-disukai-dosen/", target: "_blank"} 7 Tipe Mahasiswa yang Disukai Dosen
          %li
            .widget-note
              %span Senin 08/08/2013
              |
              %span 12.15 WIB
            %a.widget-list-link{:href => "http://www.kampusnews.com/tugas-numpuk-terus-ini-solusinya/", target: "_blank"} Tugas Numpuk Terus? Ini Solusinya!
      %section
        %h5.widget-title Popular News
        %ul.widget-list.widget-list-more-space
          %li
            .widget-note
              %span Rabu 21/08/2013
              |
              %span 08.30 WIB
            %a.widget-list-link{:href => "http://www.kampusnews.com/pengen-magang-coba-apply-di-perusahaan-ini/", target: "_blank"} Pengen Magang? Coba Apply di perusahaan ini
            .widget-excerpt
              %img{:src => "/assets/front/sidebar/popular-news-1.jpg"}
                %p Bagi mahasiswa yang tengah berada pada semester akhir, singkatan TA dan KP sudah semakin akrab terdengar. Yup, TA adalah singkatan untuk Tugas Akhir dan KP adalah singkatan untuk ...
          %li
            .widget-note
              %span Kamis 29/07/2013
              |
              %span 13.00 WIB
            %a.widget-list-link{:href => "http://www.kampusnews.com/kesempatan-ke-jepang-lewat-program-jenesys/", target: "_blank"} Kesempatan ke Jepang lewat Program Jenesys
            .widget-excerpt
              %img{:src => "/assets/front/sidebar/popular-news-2.jpg"}
                %p Udah ada yang tau tentang program Jenesys?? Well, Jenesys (Japan East Asia Network of Exchange Students and Youth) merupakan salah satu pogram kerjasama ...
          %li
            .widget-note
              %span Sabtu 30/03/2013
              |
              %span 14.05 WIB
            %a.widget-list-link{:href => "http://www.kampusnews.com/bisa-kuliah-s2-di-prancis-lewat-program-fast-track/", target: "_blank"} Bisa Kuliah S2 di Prancis Lewat Program Fast Track
            .widget-excerpt
              %img{:src => "/assets/front/sidebar/popular-news-3.jpg"}
                %p Nama saya Ahmad Mustofa Hadi. Saya mahasiswa Master tahun kedua di Université de Strasbourg, Prancis. Strasbourg merupakan salah satu ibukota Uni Eropa, ...
      %section
        %a{:href => "http://www.kampusnews.com/category/buletin/", target: "_blank"}
          %img.sidebar-banner{:src => "/assets/front/sidebar/banner-kampuscoid.jpg"}