.row.description-panel
  .large-4.columns
    %section
      %h6.desc-title Informasi
      %p.desc-text Kampus.co.id adalah situs yang melakukan pemeringkatan, penilaian dan ulasan perguruan tinggi di Indonesia
      %p.panel-image-fix-1
        %span.panel-image-1
  .large-4.columns
    %section
      %h6.desc-title Support
      %ul
        %li
          %a{ class: "desc-link", href: "#", data: {reveal: {id: "about"}} } Tentang Kampus.co.id
        %li
          %a{ class: "desc-link", href: "#", data: {reveal: {id: "faq"}} } F.A.Q
        %li
          %a{ class: "desc-link", href: "#", data: {reveal: {id: "privacy"}} } Privacy & Policy
        %li &nbsp;
      %p.panel-image-fix-2
        %span.panel-image-2
  .large-4.columns
    %section
      %h6.desc-title Kontak
      %p.desc-text 
        Kampus.co.id
        %br Phone : 031-3490049
        %a{ href: "mailto:info@kampus.co.id" } info@kampus.co.id
        %br Jl. Kutisari Indah 135 Surabaya
        Jawa Timur, Indonesia
      %p.panel-image-fix-3
        %span.panel-image-3

.reveal-modal.medium#about
  %h2 Tentang Kampus.co.id
  %p Kampus.co.id adalah situs yang melakukan pemeringkatan, penilaian dan ulasan (ranking, rating and review) perguruan-perguruan tinggi di indonesia. Peringkat perguruan tinggi telah menjadi indikator dalam penilaian kualitas yang sangat penting bagi daya saing perguruan tinggi di dalam dan luar negeri.

  %p Beberapa metode pemeringkatan menunjukkan bahwa penilaian peringkat perguruan tinggi didasarkan secara kuantitatif pada publikasi ilmiah yang terindeks di internet. Penilaian peringkat perguruan tinggi di indonesia dengan melibatkan kriteria-kriteria secara kualitatif adalah cara yang lebih baik untuk mendapatkan validasi peringkat perguruan tinggi.

  %p.lead
    %h4 Justifikasi

  %p Kampus.co.id hanya melakukan pemeringkatan , penilaian, dan ulasan perguruan tinggi yang terdaftar di Badan Akreditasi Nasional Perguruan Tinggi (BAN-PT) pada setiap periode.

  %p Kampus.co.id melakukan penilaian perguruan tinggi berdasarkan data-data yang valid sesuai dengan indikator di kampus.co.id. dan diperoleh melalui observasi dan survey perguruan tinggi. Kombinasi indikator-indikator setiap kriteria adalah terukur dan objektif. Kampus.co.id akan menerbitkan peringkat resmi perguruan tinggi diseluruh indonesia secara periodik

  %p Kampus.co.id melakukan penilaian perguruan tinggi berdasarkan data-data yang valid sesuai dengan indikator di kampus.co.id. dan diperoleh melalui observasi dan survey perguruan tinggi. Kombinasi indikator-indikator setiap kriteria adalah terukur dan objektif. Kampus.co.id akan menerbitkan peringkat resmi perguruan tinggi diseluruh indonesia secara periodik

  %p.lead
    %h4 Desain dan Indikator Pembobotan

  %p Kampus.co.id menggunakan model pendekatan induksi ilmiah dalam penilaian kriteria peringkat perguruan tinggi. Pembobotan kriteria perguruan tinggi ditentukan dengan metode Analytical Hierarchy Process berdasarkan standar kriteria-kriteria tertentu. Kriteria-kriteria yang dibutuhkan dalam menentukan peringkat kualitatif perguruan tinggi di indonesia berdasarkan tiga komponen:
  
  %p
    %strong 1. Government
  %p Komponen Government terdiri dari nilai akreditasi jurusan dan universitas dari BAN PT selaku badan akreditasi yang diakui oleh pemerintah Republik Indonesia (dalam hal ini oleh Departemen Pendidikan Nasional).

  %p
    %strong 2. College
  %p Komponen College adalah penilaian yang didasarkan pada sub kriteria jenis dan kompleksitas perguruan tinggi tersebut. Jenis perguruan tinggi di indonesia terdiri dari Universitas, Institut, Politeknik, Sekolah Tinggi dan Akademi. Penilaian kompleksitas diukur dari jumlah prodi, tingkat pendidikan strata yang diselenggarakan di perguruan tinggi tersebut.

  %p
    %strong 3. Society
  %p Komponen society didasarkan pada penilaian entitas alumni dan penilaian dari ahli (expert) perguruan tinggi.
  
  %a.close-reveal-modal &#215

.reveal-modal.medium#faq
  %h2 F.A.Q
  %p.lead
    %strong Apakah Kampus.co.id?

  %p Kampus.co.id adalah Situs yang menyediakan informasi , pemeringkatan, penilaian dan ulasan (ranking, rating and review) perguruan-perguruan tinggi di indonesia.

  %p.lead
    %strong Bagaimana metode untuk peringkat di Kampus.co.id?

  %p Kampus.co.id melakukan penilaian atas 3586 perguruan tinggi yang terdiri dari universitas, institut, politeknik, sekolah tinggi dan akademi diseluruh indonesia. Kampus.co.id melakukan penilaian perguruan tinggi berdasarkan data-data yang valid sesuai dengan indikator yang telah ditentukan oleh pihak Kampus.co.id. Kombinasi indikator-indikator setiap kriteria adalah terukur dan objektif. Kampus.co.id akan menerbitkan peringkat resmi perguruan tinggi diseluruh indonesia secara periodik.

  %p Pemeringkatan perguruan tinggi dilakukan tanpa ada intervensi dari pihak lain sehingga hasil peringkat perguruan tinggi merupakan representatif yang sebenarnya berdasarkan fakta-fakta yang ada sesuai dengan kriteri yang telah ditentukan oleh pihak Kampus.co.id.

  %p.lead
    %strong Apakah informasi dan peringkat di Kampus.co.id dapat dipercaya?

  %p Informasi tentang perguruan tinggi dan jurusan yang ada di kampus.co.id diperoleh dari berbagai sumber antara lain, Dirjen Pendidikan dan Perguruan Tinggi (DIKTI), Badan Akreditasi Nasional Perguruan Tinggi dan website resmi dari perguruan tinggi tersebut.

  %p.lead
    %strong Mengapa ada beberapa perguruan tinggi yang informasi dan peringkatnya tidak ada di Kampus.co.id?

  %p 
    Ada beberapa alasan beberapa perguruan tinggi belum masuk dalam kampus.co.id, antara lain:
    %br 1. Perguruan tinggi tersebut tidak terdaftar dalam Badan Akreditasi Nasional Perguruan Tinggi
    %br 2. Informasi terkait tentang perguruan tinggi tersebut belum didapatkan (masih belum tersedia)
    
  %p.lead
    %strong Bagaimana caranya untuk menambahkan informasi perguruan tinggi di Kampus.co.id?

  %p Jika ada informasi yang ingin ditambahkan atau pertanyaan, kritik dan saran, silahkan menghubungi pihak Kampus.co.id melalui email info@kampus.co.id
  
  %a.close-reveal-modal &#215;

.reveal-modal.medium#privacy
  %h2 Privacy & Policy
  %p.lead
    %h4 Pendahuluan

  %p Kampus.co.id berkomitmen untuk memastikan bahwa privasi anda dilindungi. Sekalipun demikian, Kebijakan Privasi ini bukanlah sebuah kontrak dan tidak memunculkan hak hukum apa pun, namun dapat dijadikan bukti komitmen Kampus.co.id untuk melindungi informasi yang dianggap bersifat pribadi.

  %p Kampus.co.id dapat mengubah kebijakan ini sewaktu-waktu tanpa memberitahukan kepada penggunan dengan cara memperbarui kebijakan disini dan menyertakan label "Pembaharuan Terakhir" pada tautan "Privacy & Policy" di situs web yang diatur oleh kebijakan ini selama 30 hari. 

  %p.lead
    %h4 Pengumpulan Informasi

  %p Informasi yang kami kumpulkan antara lain :
  %ol
    %li Nama, alamat, dan nomor telepon 
    %li Alamat email dan nomor ponsel
    %li Informasi yang diperlukan untuk memfasilitasi perjalanan atau layanan lain, termasuk nama-nama penumpang, kontak darurat, kesukaan tempat duduk dan makanan khusus atau kebutuhan medis
    %li Informasi pribadi yang disediakan melalui survei, lomba, kompetisi atau upaya riset pemasaran lainnya
    %li Informasi pribadi yang disediakan untuk perwakilan layanan pelanggan untuk meneliti dan menangani masalah atau pertanyaan atau pengajuan keluhan
    %li Kontrak korporasi, pemberi pekerjaan dan/atau afiliasi korporasi lainnya (misalnya nama pemberi pekerjaan, jabatan, alamat dan informasi kontak)

  %p Pengumpulan informasi dilakukan dengan berbagai cara antara lain :
  %ol
    %li Dari Anda; ketika Anda secara sukarela menyediakan data kepada kami atau penyedia layanan pihak ketiga yang bekerja dengan kami
    %li Dari browser Anda; ketika Anda mengunjungi situs web dan browser Anda berinteraksi dengan kami
    %li Dari sumber lain dan tautan terkait dalam hubungannya dengan kebutuhan dan layanan di situs ini

  %p.lead
    %h5 Pendaftaran Akun
  %p Untuk menjadi  pengguna, Anda harus memberikan kami informasi berikut untuk membuat account: nama depan, nama belakang, alamat email dan password. Tanpa informasi ini, anda tidak dapat membuat akun. Kampus.co.id juga meminta  informasi lainnya selama proses pendaftaran, (misalnya, jenis kelamin, lokasi, dll) yang digunakan untuk menyediakan layanan lebih baik, iklan dan informasi yang lebih berharga.  Anda menyatakan bahwa informasi ini adalah benar dan dengan membuat account di situs kami, anda memberikan izin kepada pihak lain, termasuk KampusId, untuk mengidentifikasi Anda dan memungkinkan untuk menggunakan informasi anda sesuai dengan Perjanjian Pengguna. (Link ke perjanjian pengguna kami).

  %p.lead
    %h5 Cookies
  %p Cookies adalah potongan data yang disimpan di hard drive pengguna yang berisi informasi tentang pengguna. Penggunaan cookie tidak berkaitan dengan informasi identitas pribadi saat membuka situs kami.

  %p Cookie memungkinkan sistem mengenali browser Anda dan mengingat akun pengguna sehingga Anda tidak perlu memasukkannya lagi.  Data berupa  informasi pengguna disimpan di hard drive Anda oleh server web Kampus.co.id. Informasi ini hanya dapat diakses oleh server kampus.co.id; sementara itu,  pengguna Internet dan perusahaan lain tidak dapat mengakses informasi tersebut.  Cookie ID sesi akan kedaluwarsa setiap kali Anda menutup browser. Cookie permanen tetap berada di hard drive Anda dalam jangka waktu lama. Anda dapat menghapus cookie permanen dengan mengikuti petunjuk yang dijelaskan di file “bantuan” pada browser Internet Anda.


  %p.lead
    %h5 Log Files, IP Addres dan Informasi Peralatan
  %p Berdasarkan standar di Internet, ketika anda mengunjungi situs web kami, maka secara otomatis kami menerima URL dan jejak anda di website Kampus.co.id. Kampus.co.id juga menerima juga menerima protokol internet ("IP") alamat komputer Anda, sistem operasi komputer Anda dan jenis web browser yang Anda gunakan, ponsel dan sistem operasi mobile (jika Anda mengakses website kami menggunakan perangkat mobile ), serta nama ISP atau operator seluler Anda.
    
  %p.lead
    %h5 Data Retention
  %p Kampus.co.id akan menyimpan informasi Anda selama akun Anda aktif atau yang diperlukan untuk menyediakan layanan. Kami akan menyimpan dan menggunakan informasi Anda sebagai diperlukan untuk mematuhi kewajiban hukum kami, menyelesaikan sengketa, dan menegakkan Perjanjian ini.

  %p.lead
    %h4 Penggunaan Informasi

  %p Dengan memberikan informasi kepada kampus.co.id untuk keperluan akun pengguna atau menambahkan rincian tambahan untuk profil Anda di kampus.co.id, Anda secara tegas dan sukarela menerima syarat dan kondisi dari kebijakan privasi ini dan memungkinkan kampus.co.id untuk memproses informasi tentang Anda.

  %p Menyediakan informasi kepada kampus.co.id, termasuk setiap informasi yang dianggap "sensitif" oleh hukum yang berlaku, sepenuhnya sukarela di pihak Anda. Anda memiliki hak untuk menarik persetujuan Anda untuk pengumpulan dan pengolahan informasi Anda QS setiap saat, sesuai dengan syarat-syarat Kebijakan Privasi dan Perjanjian Pengguna, dengan mengubah Pengaturan Anda, atau dengan menutup account Anda.

  %p Kami memerlukan informasi ini untuk memahami kebutuhan anda (user) dan memberi pelayanan yang lebih baik, dan khususnya untuk alasan berikut:

  %ol
    %li Media Komunikasi
    %li Pencatatan Internal
    %li Meningkatkan produk dan layanan kami
    %li Kami secara berkala dapat mengirimkan email promosi tentang produk baru, penawaran khusus atau informasi lain yang kami pikir Anda mungkin akan tertarik atas 
    %li Dari waktu ke waktu, kami juga dapat menggunakan informasi Anda untuk menghubungi Anda untuk tujuan penelitian pasar. Kami dapat menghubungi Anda melalui email, telepon atau surat. Kami dapat menggunakan informasi tersebut untuk meningkatkan pelayanan situs web sesuai dengan minat demografi.

  %p.lead
    %h4 Tautan ke website lain
  %p Website Kampus.co.id mungkin berisi link ke situs lain. Namun, setelah Anda menggunakan link ini untuk meninggalkan situs kami, yang perlu diketahui adalah bahwa kita tidak memiliki kontrol terhadap situs web lain. Oleh karena itu, Kampus.co.id tidak dapat bertanggung jawab atas perlindungan dan privasi dari setiap informasi yang diberikan . Anda harus berhati-hati dan melihat pernyataan privasi yang berlaku di situs tersebut.

  %p.lead
    %h4 Persetujuan
  %p Dalam menggunakan situs Kampus.co.id, Anda menyatakan setuju dengan pengumpulan dan penggunaan informasi oleh Kampus.co.id dengan cara-cara yang dijelaskan di atas (yang dapat berubah dari waktu ke waktu) kecuali dan hingga Anda memberitahu kami tentang hal sebaliknya dengan mengikuti petunjuk yang termuat di situs web kami.

  %p.lead
    %h4 Kontak Kami
  %p Apabila anda masih memiliki pertanyaan tentang kebijakan privasi kami, silakan membuka laman FAQ di situs Kampus.co.id. Kami akan meminta nama Anda, nomor telepon, alamat email dan komentar agar  dapat merespon secara efektif terhadap pertanyaan Anda dan untuk meningkatkan layanan kami.

  %a.close-reveal-modal &#215;