<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to Kampus.co.id | Unofficial Indonesian's Campus Review</title>
<%= stylesheet_link_tag    "default", :media => "all" %><%= javascript_include_tag "application" %>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Archivo+Narrow:400,700" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<style type="text/css">
<!--
.style1 {
  color: #42A7DB;
  font-size: 24px;
}
-->
</style>
</head>
<body>
<div align="center" style="padding-top:5%; "> <%= yield %> </div>
</body>
</html>
